a,
.header a:hover,
a:hover .header,
a:hover .header,
summary,
#dark .header a:hover,
#dark a:hover .header,
#dark a:hover .header,
#dark summary {
    color: hsl(var(--accent-hue), var(--accent-saturation), var(--accent-lightness));
    color: color(display-p3 var(--accent-r) var(--accent-g) var(--accent-b));
}
a:hover,
.header a:hover,
summary:hover {
    background-color: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-lightness), 0.1);
    background-color: color(display-p3 var(--accent-r) var(--accent-g) var(--accent-b) / 10%);
}
#dark a:hover,
#dark .header a:hover,
#dark summary:hover {
    background-color: hsla(var(--accent-hue), var(--accent-saturation), var(--accent-lightness), 0.15);
    background-color: color(display-p3 var(--accent-r) var(--accent-g) var(--accent-b) / 15%);
}
button,
.button,
button.bigfoot-footnote__button {
    background-color: hsl(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 3%));
    background-color: color(display-p3 var(--accent-r) var(--accent-g) calc(var(--accent-b)));
    box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.375), 0 0.43em 0.87em -0.2em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 3%), 0.2);
}
    button:hover,
    .button:hover,
    button.bigfoot-footnote__button:hover {
        background-color: hsl(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) + 2%)) !important;
        background-color: color(display-p3 var(--accent-r) var(--accent-g) calc(var(--accent-b))) !important;
        box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.375), 0 .65em 1.3em -0.65em hsla(var(--accent-hue), calc(var(--accent-saturation) + 10%), calc(var(--accent-lightness) + 2%), 0.375);
    }
    button:active,
    .button:active,
    #settings-button-wrapper.active button,
    button.bigfoot-footnote__button:active,
    button.bigfoot-footnote__button.is-active {
        background-color: hsl(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 8%)) !important;
        background-color: color(display-p3 var(--accent-r) var(--accent-g) calc(var(--accent-b))) !important;
        box-shadow: inset 0 .65em 1.3em rgba(0, 0, 0, 0.125), 0 0.43em 0.87em -0.2em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 8%), 0.2);
    }
    #dark button,
    #dark .button,
    #dark button.bigfoot-footnote__button {
        background-color: hsl(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 8%));
        box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.2), 0 0.43em 0.87em -0.2em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 8%), 0.2);
    }
    #dark button:hover,
    #dark .button:hover,
    #dark button.bigfoot-footnote__button:hover {
        background-color: hsl(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 3%)) !important;
        box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.2), 0 .65em 1.3em -0.65em hsla(var(--accent-hue), calc(var(--accent-saturation) + 10%), calc(var(--accent-lightness) - 3%), 0.375);
    }
    #dark button:active,
    #dark .button:active,
    #dark #settings-button-wrapper.active button,
    #dark button.bigfoot-footnote__button:active,
    #dark button.bigfoot-footnote__button.is-active {
        background-color: hsl(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 13%)) !important;
        box-shadow: inset 0 .65em 1.3em rgba(0, 0, 0, 0.1), 0 0.43em 0.87em -0.2em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 13%), 0.2);
    }
button.bigfoot-footnote__button {
    box-shadow: inset 0 .325em 0.65em rgba(255, 255, 255, 0.375), 0 0.215em 0.435em -0.1em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 3%), 0.2);
}
    button.bigfoot-footnote__button:hover {
        box-shadow: inset 0 .325em 0.65em rgba(255, 255, 255, 0.375), 0 .325em 0.65em -0.325em hsla(var(--accent-hue), calc(var(--accent-saturation) + 10%), calc(var(--accent-lightness) + 2%), 0.375);
    }
    button.bigfoot-footnote__button:active,
    button.bigfoot-footnote__button.is-active {
        box-shadow: inset 0 .325em 0.65em rgba(0, 0, 0, 0.125), 0 0.215em 0.435em -0.1em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 8%), 0.2);
    }
    #dark button.bigfoot-footnote__button {
        box-shadow: inset 0 .325em 0.65em rgba(255, 255, 255, 0.375), 0 0.215em 0.435em -0.1em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 8%), 0.2);
    }
    #dark button.bigfoot-footnote__button:hover {
        box-shadow: inset 0 .325em 0.65em rgba(255, 255, 255, 0.375), 0 .325em 0.65em -0.325em hsla(var(--accent-hue), calc(var(--accent-saturation) + 10%), calc(var(--accent-lightness) - 3%), 0.375);
    }
    #dark button.bigfoot-footnote__button:active,
    #dark button.bigfoot-footnote__button.is-active {
        box-shadow: inset 0 .325em 0.65em rgba(0, 0, 0, 0.125), 0 0.215em 0.435em -0.1em hsla(var(--accent-hue), var(--accent-saturation), calc(var(--accent-lightness) - 13%), 0.2);
    }
.codehilite,
.highlight {
    background-color: hsl(var(--accent-hue), 25%, 12.5%);
}
#dark .codehilite,
#dark .highlight {
    background-color: hsl(var(--accent-hue), 25%, 7.5%);
}
.bigfoot-footnote__content,
.bigfoot-footnote__tooltip,
pre,
code,
kbd,
.language-plaintext .highlight,
[data-hint]:after {
    background-color: hsla(var(--accent-hue), 10%, 93%, .975);
    border-color: hsla(var(--accent-hue), 5%, calc(var(--accent-lightness) + 10%), 0.2);
}
    .hint--right[data-hint]:before {
        border-right-color: hsla(var(--accent-hue), 10%, 93%, .9);
    }
    .hint--top[data-hint]:before {
        border-top-color: hsla(var(--accent-hue), 10%, 93%, .9);
    }
    .hint--bottom[data-hint]:before {
        border-bottom-color: hsla(var(--accent-hue), 10%, 93%, .9);
    }
    .hint--left[data-hint]:before {
        border-left-color: hsla(var(--accent-hue), 10%, 93%, .9);
    }
    .bigfoot-footnote,
    .bigfoot-footnote__tooltip {
        border-color: hsla(var(--accent-hue), 5%, calc(var(--accent-lightness) + 10%), 0.3);
    }
#dark .bigfoot-footnote__content,
#dark .bigfoot-footnote__tooltip,
#dark pre,
#dark code,
#dark kbd,
#dark .language-plaintext .highlight,
#dark [data-hint]:after {
    background-color: hsla(var(--accent-hue), 10%, 16%, .975);
    border-color: hsla(var(--accent-hue), 5%, calc(var(--accent-lightness) + 10%), 0.1);
}
    #dark .hint--right[data-hint]:before {
        border-right-color: hsla(var(--accent-hue), 10%, 16%, .975);
    }
    #dark .hint--top[data-hint]:before {
        border-top-color: hsla(var(--accent-hue), 10%, 16%, .975);
    }
    #dark .hint--bottom[data-hint]:before {
        border-bottom-color: hsla(var(--accent-hue), 10%, 16%, .975);
    }
    #dark .hint--left[data-hint]:before {
        border-left-color: hsla(var(--accent-hue), 10%, 16%, .975);
    }
@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
    .bigfoot-footnote__content,
    [data-hint]:after {
        background-color: hsla(var(--accent-hue), 10%, 93%, .85);
    }
    .hint--right[data-hint]:before {
        border-right-color: hsla(var(--accent-hue), 10%, 93%, .85);
    }
    .hint--top[data-hint]:before {
        border-top-color: hsla(var(--accent-hue), 10%, 93%, .85);
    }
    .hint--bottom[data-hint]:before {
        border-bottom-color: hsla(var(--accent-hue), 10%, 93%, .85);
    }
    .hint--left[data-hint]:before {
        border-left-color: hsla(var(--accent-hue), 10%, 93%, .85);
    }
    .bigfoot-footnote__tooltip {
        background-color: hsla(var(--accent-hue), 10%, 93%, .9);
    }
    #dark .bigfoot-footnote__content,
    #dark .bigfoot-footnote__tooltip,
    #dark [data-hint]:after {
        background-color: hsla(var(--accent-hue), 10%, 16%, .85);
    }
    #dark .hint--right[data-hint]:before {
        border-right-color: hsla(var(--accent-hue), 10%, 16%, .85);
    }
    #dark .hint--top[data-hint]:before {
        border-top-color: hsla(var(--accent-hue), 10%, 16%, .85);
    }
    #dark .hint--bottom[data-hint]:before {
        border-bottom-color: hsla(var(--accent-hue), 10%, 16%, .85);
    }
    #dark .hint--left[data-hint]:before {
        border-left-color: hsla(var(--accent-hue), 10%, 16%, .85);
    }
}