/******************
 ***    BLUE    ***
 ******************/

.blue .active,
.blue .hover:hover:not(.active),
.blue main a,
.blue main a:link,
.blue main a:visited,
.blue .anchor,
.blue #settings-toggle:hover {
	color: #007AFF;
}
.blue #submenu {
	background-color: hsla(211, 100%, 90%, 0.75);
}
.blue .block-list a:hover h3,
#dark.blue .block-list a:hover h3 {
	color: #007AFF !important
}
.blue .anchor:hover,
.blue main a:hover {
	color: #0063CE;
}
#dark.blue .anchor:hover,
#dark.blue main a:hover {
	color: hsl(211, 100%, 60%);
}
.blue .anchor:hover,
.blue main a:not(.link-button):hover,
.blue menu a:hover, menu a.light-hover,
.blue .hover:hover:not(.active),
.blue #submenu {
	background-color: rgba(0, 122, 255, 0.1);
}
#dark.blue main a:not(.link-button):hover,
#dark.blue menu a:hover, #darkmenu a.light-hover,
#dark.blue .anchor:hover,
#dark.blue .hover:hover:not(.active),
#dark.blue #submenu {
	background-color: rgba(0, 122, 255, 0.15);
}
.blue h1 a:hover {
	color: #007AFF !important;
}
.blue a .fill-color {
	fill: #007AFF;
}
.blue button.bigfoot-footnote__button {
	background-color: #007AFF;
}
	.blue button.bigfoot-footnote__button:after {
		color: #0063CE;
	}
	.blue button.bigfoot-footnote__button {
		background-color: rgba(0, 122, 255, 0.15) !important;
	}
.blue button.bigfoot-footnote__button:hover {
	background-color: #0063CE;
}
	.blue button.bigfoot-footnote__button:hover,
	.blue button.bigfoot-footnote__button:hover,
	.blue button.bigfoot-footnote__button:focus,
	#dark.blue button.bigfoot-footnote__button:hover,
	#dark.blue button.bigfoot-footnote__button:hover,
	#dark.blue button.bigfoot-footnote__button:focus {
		background-color: #007AFF !important;
	}
	.blue button.bigfoot-footnote__button:active,
	.blue button.bigfoot-footnote__button.is-active,
	#dark.blue button.bigfoot-footnote__button:active,
	#dark.blue button.bigfoot-footnote__button.is-active {
		background-color: #0063CE !important;
	}
.blue button:not(.bigfoot-footnote__button),
.blue .link-button {
	background-color: hsl(211, 100%, 45%); /* hsl(211, 100%, 50%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(211, 100%, 55%)), color-stop(100%, hsl(211, 100%, 45%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(211, 100%, 55%) 0, hsl(211, 100%, 45%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(211, 100%, 55%) 0, hsl(211, 100%, 45%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(211, 100%, 55%) 0, hsl(211, 100%, 45%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(211, 100%, 55%) 0, hsl(211, 100%, 45%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(211, 100%, 55%) 0, hsl(211, 100%, 45%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(211, 100%, 55%)', endColorstr='hsl(211, 100%, 45%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid #489fff;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(0, 122, 255, 0.2);
}
	.blue button:not(.bigfoot-footnote__button):active,
	.blue .link-button:active {
		background-color: hsl(211, 100%, 45%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(0, 122, 255, 0.1);
	}
.blue input:focus,
.blue textarea:focus {
	border-color: #007AFF !important;
}
.blue a:hover .fill-color {
	fill: #0063CE !important;
}
#dark.blue .hover:hover:not(.active) {
	color: #007AFF;
}
.blue #logo:hover .signature-color {
	fill: #007AFF !important;
}
.blue a .fill-color {
	fill: #007AFF;
}
#dark.blue .active {
	background-color: unset;
	color: #007AFF;
}
/* Highlights (must be seperate, combining them breaks the style) */
.blue ::selection { /* Safari */
	background: rgba(0, 122, 255, 0.99);
	color: white;
}
.blue ::-moz-selection { /* Firefox */
	background: rgba(0, 122, 255, 0.99);
	color: white;
}
#dark ::selection { /* Safari */
	background: rgba(0, 122, 255, 0.85);
}
#dark ::-moz-selection { /* Firefox */
	background: rgba(0, 122, 255, 0.85);
}
.backdrop {
	background-color: #007AFF;
}
menu {
	background-color: rgba(252, 253, 255, 0.95);
}
#dark menu {
	background-color: rgba(22, 25, 28, 0.95);
}
.safari menu {
	background-color: rgba(252, 253, 255, 0.7);
}
#dark.safari menu {
	background-color: rgba(22, 25, 28, 0.7);
}
.blue [data-hint]:after,
.blue .card,
.blue .bigfoot-footnote__content,
.blue .bigfoot-footnote__wrapper,
.blue .bigfoot-footnote__tooltip,
.blue .bigfoot-footnote {
	background-color: rgb(246, 247, 249);
}
.blue .popup {
	background-color: rgba(246, 247, 249, 0.95);
}
.blue.safari .popup {
	background-color: rgba(246, 247, 249, 0.9);
}
#dark.blue [data-hint]:after,
#dark.blue .card,
#dark.blue .bigfoot-footnote__content,
#dark.blue .bigfoot-footnote__wrapper,
#dark.blue .bigfoot-footnote__tooltip,
#dark.blue .bigfoot-footnote {
	background-color: rgb(59, 62, 65);
}
#dark.blue .popup {
	background-color: rgba(59, 62, 65, 0.95);
}
#dark.blue.safari .popup {
	background-color: rgba(59, 62, 65, 0.9);
}

/******************
 ***     RED    ***
 ******************/

.red .active,
.red .hover:hover:not(.active),
.red main a,
.red main a:link,
.red main a:visited,
.red .anchor,
.red #settings-toggle:hover {
	color: #FF3B30;
}
.red .block-list a:hover h3,
#dark.red .block-list a:hover h3 {
	color: #FF3B30 !important
}
.red .anchor:hover,
.red main a:hover {
	color: hsl(3, 100%, 49%);
}
#dark.red .anchor:hover,
#dark.red main a:hover {
	color: hsl(3, 100%, 69%);
}
.red .anchor:hover,
.red main a:not(.link-button):hover,
.red menu a:hover, .red menu a.light-hover,
.red .hover:hover:not(.active),
.red #submenu {
	background-color: rgba(255, 59, 48, 0.1);
}
#dark.red main a:not(.link-button):hover,
#dark.red menu a:hover,
#dark.red .anchor:hover, #dark.red menu a.light-hover,
#dark.red .hover:hover:not(.active),
#dark.red #submenu {
	background-color: rgba(255, 59, 48, 0.15);
}
.red h1 a:hover {
	color: #FF3B30 !important;
}

.red a .fill-color {
	fill: #FF3B30;
}
.red button.bigfoot-footnote__button {
	background-color: #FF3B30;
}
	.red button.bigfoot-footnote__button:after {
		color: hsl(3, 100%, 49%);
	}
	#dark.red button.bigfoot-footnote__button:after {
		color: hsl(3, 100%, 69%);
	}
	.red button.bigfoot-footnote__button {
		background-color: rgba(255, 59, 48, 0.1);
	}
	#dark.red button.bigfoot-footnote__button {
		background-color: rgba(255, 59, 48, 0.15);
	}
.red button.bigfoot-footnote__button:hover {
	background-color: hsl(3, 100%, 49%);
}
	.red button.bigfoot-footnote__button:hover,
	.red button.bigfoot-footnote__button:hover,
	.red button.bigfoot-footnote__button:focus {
		background-color: #FF3B30 !important;
	}
	.red button.bigfoot-footnote__button:active,
	.red button.bigfoot-footnote__button.is-active {
		background-color: hsl(3, 100%, 49%) !important;
	}
.red button:not(.bigfoot-footnote__button),
.red .link-button {
	background-color: hsl(3, 100%, 53%); /*  hsl(3, 100%, 59%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(3, 100%, 65%)), color-stop(100%, hsl(3, 100%, 53%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(3, 100%, 65%) 0, hsl(3, 100%, 53%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(3, 100%, 65%) 0, hsl(3, 100%, 53%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(3, 100%, 65%) 0, hsl(3, 100%, 53%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(3, 100%, 65%) 0, hsl(3, 100%, 53%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(3, 100%, 65%) 0, hsl(3, 100%, 53%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(3, 100%, 65%)', endColorstr='hsl(3, 100%, 53%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid hsl(3, 100%, 59%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(255, 59, 48, 0.2);
}
	.red button:not(.bigfoot-footnote__button):active,
	.red .link-button:active {
		background-color: hsl(3, 100%, 53%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(255, 59, 48, 0.1);
	}
.red input:focus,
.red textarea:focus {
	border-color: #FF3B30 !important;
}
.red a:hover .fill-color {
	fill: hsl(3, 100%, 49%) !important;
}
#dark.red .hover:hover:not(.active) {
	color: #FF3B30;
}
.red #logo:hover .signature-color {
	fill: #FF3B30 !important;
}
.red a .fill-color {
	fill: #FF3B30;
}
#dark.red .active {
	background-color: unset;
	color: #FF3B30;
}
/* Highlights (must be seperate, combining them breaks the style) */
.red ::selection { /* Safari */
	background: rgba(255, 59, 48, 0.99);
	color: white;
}
.red ::-moz-selection { /* Firefox */
	background: rgba(255, 59, 48, 0.99);
	color: white;
}
#dark.red ::selection { /* Safari */
	background: rgba(255, 59, 48, 0.85);
}
#dark.red ::-moz-selection { /* Firefox */
	background: rgba(255, 59, 48, 0.85);
}
.red .backdrop {
	background-color: #FF3B30;
}
.red menu {
	background-color: rgba(255, 254, 252, 0.95);
}
#dark.red menu {
	background-color: rgba(28, 23, 23, 0.95);
}
.red.safari menu {
	background-color: rgba(255, 254, 252, 0.7);
}
#dark.red.safari menu {
	background-color: rgba(28, 23, 23, 0.7);
}
.red [data-hint]:after,
.red .card,
.red .bigfoot-footnote__content,
.red .bigfoot-footnote__wrapper,
.red .bigfoot-footnote__tooltip,
.red .bigfoot-footnote {
	background-color: rgb(249, 246, 246);
}
.red .popup {
	background-color: rgba(249, 246, 246, 0.95);
}
.red.safari .popup {
	background-color: rgba(249, 246, 246, 0.9);
}
#dark.red [data-hint]:after,
#dark.red .card,
#dark.red .bigfoot-footnote__content,
#dark.red .bigfoot-footnote__wrapper,
#dark.red .bigfoot-footnote__tooltip,
#dark.red .bigfoot-footnote {
	background-color: rgb(65, 60, 60);
}
#dark.red .popup {
	background-color: rgba(65, 60, 60, 0.95);
}
#dark.red.safari .popup {
	background-color: rgba(65, 60, 60, 0.9);
}

/******************
 ***   ORANGE   ***
 ******************/

.orange .active,
.orange .hover:hover:not(.active),
.orange main a,
.orange main a:link,
.orange main a:visited,
.orange .anchor,
.orange #settings-toggle:hover {
	color: #FF8100;
}
.orange .block-list a:hover h3,
#dark.orange .block-list a:hover h3 {
	color: #FF8100 !important
}
.orange .anchor:hover,
.orange main a:hover {
	color: hsl(30, 100%, 40%);
}
#dark.orange .anchor:hover,
#dark.orange main a:hover {
	color: hsl(30, 100%, 60%);
}
.orange .anchor:hover,
.orange main a:not(.link-button):hover,
.orange menu a:hover, .orange menu a.light-hover,
.orange .hover:hover:not(.active),
.orange #submenu {
	background-color: rgba(255, 129, 0, 0.1);
}
#dark.orange main a:not(.link-button):hover,
#dark.orange menu a:hover, #dark.orange menu a.light-hover,
#dark.orange .anchor:hover,
#dark.orange .hover:hover:not(.active),
#dark.orange #submenu {
	background-color: rgba(255, 129, 0, 0.15);
}
.orange h1 a:hover {
	color: #FF8100 !important;
}
.orange a .fill-color {
	fill: #FF8100;
}
.orange button.bigfoot-footnote__button {
	background-color: #FF8100;
}
	.orange button.bigfoot-footnote__button:after {
		color: hsl(30, 100%, 40%);
	}
	#dark.orange button.bigfoot-footnote__button:after {
		color: hsl(30, 100%, 60%);
	}
	.orange button.bigfoot-footnote__button {
		background-color: rgba(255, 129, 0, 0.1);
	}
	#dark.orange button.bigfoot-footnote__button {
		background-color: rgba(255, 129, 0, 0.15);
	}
.orange button.bigfoot-footnote__button:hover {
	background-color: hsl(30, 100%, 40%);
}
	.orange button.bigfoot-footnote__button:hover,
	.orange button.bigfoot-footnote__button:hover,
	.orange button.bigfoot-footnote__button:focus {
		background-color: #FF8100 !important;
	}
	.orange button.bigfoot-footnote__button:active,
	.orange button.bigfoot-footnote__button.is-active {
		background-color: hsl(30, 100%, 40%) !important;
	}
.orange button:not(.bigfoot-footnote__button),
.orange .link-button {
	background-color: hsl(30, 100%, 44%); /* hsl(30, 100%, 50%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(30, 100%, 56%)), color-stop(100%, hsl(30, 100%, 44%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(30, 100%, 56%) 0, hsl(30, 100%, 44%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(30, 100%, 56%) 0, hsl(30, 100%, 44%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(30, 100%, 56%) 0, hsl(30, 100%, 44%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(30, 100%, 56%) 0, hsl(30, 100%, 44%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(30, 100%, 56%) 0, hsl(30, 100%, 44%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(30, 100%, 56%)', endColorstr='hsl(30, 100%, 44%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid hsl(30, 100%, 50%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(255, 129, 0, 0.2);
}
	.orange button:not(.bigfoot-footnote__button):active,
	.orange .link-button:active {
		background-color: hsl(30, 100%, 44%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(255, 129, 0, 0.1);
	}
.orange input:focus,
.orange textarea:focus {
	border-color: #FF8100 !important;
}
.orange a:hover .fill-color {
	fill: hsl(30, 100%, 40%) !important;
}
#dark.orange .hover:hover:not(.active) {
	color: #FF8100;
}
.orange #logo:hover .signature-color {
	fill: #FF8100 !important;
}
.orange a .fill-color {
	fill: #FF8100;
}
#dark.orange .active {
	background-color: unset;
	color: #FF8100;
}
/* Highlights (must be seperate, combining them breaks the style) */
.orange ::selection { /* Safari */
	background: rgba(255, 129, 0, 0.99);
	color: white;
}
.orange ::-moz-selection { /* Firefox */
	background: rgba(255, 129, 0, 0.99);
	color: white;
}
#dark.orange ::selection { /* Safari */
	background: rgba(255, 129, 0, 0.85);
}
#dark.orange ::-moz-selection { /* Firefox */
	background: rgba(255, 129, 0, 0.85);
}
.orange .backdrop {
	background-color: #FF8100;
}
.orange menu {
	background-color: rgba(255, 254, 252, 0.95);
}
#dark.orange menu {
	background-color: rgba(28, 25, 22, 0.95);
}
.orange.safari menu {
	background-color: rgba(255, 254, 252, 0.7);
}
#dark.orange.safari menu {
	background-color: rgba(28, 25, 22, 0.7);
}
.orange [data-hint]:after,
.orange .card,
.orange .bigfoot-footnote__content,
.orange .bigfoot-footnote__wrapper,
.orange .bigfoot-footnote__tooltip,
.orange .bigfoot-footnote {
	background-color: rgb(249, 248, 246);
}
.orange .popup {
	background-color: rgba(249, 248, 246, 0.95);
}
.orange.safari .popup {
	background-color: rgba(249, 248, 246, 0.9);
}
#dark.orange [data-hint]:after,
#dark.orange .card,
#dark.orange .bigfoot-footnote__content,
#dark.orange .bigfoot-footnote__wrapper,
#dark.orange .bigfoot-footnote__tooltip,
#dark.orange .bigfoot-footnote {
	background-color: rgb(65, 62, 59);
}
#dark.orange .popup {
	background-color: rgba(65, 62, 59, 0.95);
}
#dark.orange.safari .popup {
	background-color: rgba(65, 62, 59, 0.9);
}

/******************
 ***   YELLOW   ***
 ******************/

.yellow .active,
.yellow .hover:hover:not(.active),
.yellow main a,
.yellow main a:link,
.yellow main a:visited,
.yellow .anchor,
.yellow #settings-toggle:hover {
	color: #FFCC00;
}
.yellow .block-list a:hover h3,
#dark.yellow .block-list a:hover h3 {
	color: #FFCC00 !important
}
.yellow .anchor:hover,
.yellow main a:hover {
	color: hsl(48, 100%, 40%);
}
#dark.yellow .anchor:hover,
#dark.yellow main a:hover {
	color: hsl(48, 100%, 60%);
}
.yellow .anchor:hover,
.yellow main a:not(.link-button):hover,
.yellow menu a:hover, .yellow menu a.light-hover,
.yellow .hover:hover:not(.active),
.yellow #submenu {
	background-color: rgba(255, 204, 0, 0.15);
}
#dark.yellow main a:not(.link-button):hover,
#dark.yellow menu a:hover, #dark.yellow menu a.light-hover,
#dark.yellow .anchor:hover,
#dark.yellow .hover:hover:not(.active),
#dark.yellow #submenu {
	background-color: rgba(255, 204, 0, 0.1);
}
.yellow h1 a:hover {
	color: #FFCC00 !important;
}
.yellow a .fill-color {
	fill: #FFCC00;
}
.yellow button.bigfoot-footnote__button {
	background-color: #FFCC00;
}
	.yellow button.bigfoot-footnote__button:after {
		color: hsl(48, 100%, 40%);
	}
	#dark.yellow button.bigfoot-footnote__button:after {
		color: hsl(48, 100%, 57%);
	}
	.yellow button.bigfoot-footnote__button {
		background-color: rgba(255, 204, 0, 0.15);
	}
	#dark.yellow button.bigfoot-footnote__button {
		background-color: rgba(255, 204, 0, 0.1);
	}
.yellow button.bigfoot-footnote__button:hover {
	background-color: hsl(48, 100%, 40%);
}
	.yellow button.bigfoot-footnote__button:hover,
	.yellow button.bigfoot-footnote__button:hover,
	.yellow button.bigfoot-footnote__button:focus {
		background-color: #FFCC00 !important;
	}
	.yellow button.bigfoot-footnote__button:active,
	.yellow button.bigfoot-footnote__button.is-active {
		background-color: hsl(48, 100%, 40%) !important;
	}
.yellow button:not(.bigfoot-footnote__button),
.yellow .link-button {
	background-color: hsl(48, 100%, 44%); /* hsl(48, 100%, 50%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(48, 100%, 56%)), color-stop(100%, hsl(48, 100%, 44%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(48, 100%, 56%) 0, hsl(48, 100%, 44%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(48, 100%, 56%) 0, hsl(48, 100%, 44%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(48, 100%, 56%) 0, hsl(48, 100%, 44%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(48, 100%, 56%) 0, hsl(48, 100%, 44%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(48, 100%, 56%) 0, hsl(48, 100%, 44%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(48, 100%, 56%)', endColorstr='hsl(48, 100%, 44%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid hsl(48, 100%, 50%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(255, 204, 0, 0.2);
}
	.yellow button:not(.bigfoot-footnote__button):active,
	.yellow .link-button:active {
		background-color: hsl(48, 100%, 44%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(255, 204, 0, 0.1);
	}
.yellow input:focus,
.yellow textarea:focus {
	border-color: #FFCC00 !important;
}
.yellow a:hover .fill-color {
	fill: hsl(48, 100%, 40%) !important;
}
#dark.yellow .hover:hover:not(.active) {
	color: #FFCC00;
}
.yellow #logo:hover .signature-color {
	fill: #FFCC00 !important;
}
.yellow a .fill-color {
	fill: #FFCC00;
}
#dark.yellow .active {
	background-color: unset;
	color: #FFCC00;
}
/* Highlights (must be seperate, combining them breaks the style) */
.yellow ::selection { /* Safari */
	background: rgba(255, 204, 0, 0.99);
	color: white;
}
.yellow ::-moz-selection { /* Firefox */
	background: rgba(255, 204, 0, 0.99);
	color: white;
}
#dark.yellow ::selection { /* Safari */
	background: rgba(255, 204, 0, 0.85);
}
#dark.yellow ::-moz-selection { /* Firefox */
	background: rgba(255, 204, 0, 0.85);
}
.yellow .backdrop {
	background-color: #FFCC00;
}
.yellow menu {
	background-color: rgba(255, 255, 252, 0.95);
}
#dark.yellow menu {
	background-color: rgba(28, 27, 23, 0.95);
}
.yellow.safari menu {
	background-color: rgba(255, 255, 252, 0.7);
}
#dark.yellow.safari menu {
	background-color: rgba(28, 27, 23, 0.7);
}
.yellow [data-hint]:after,
.yellow .card,
.yellow .bigfoot-footnote__content,
.yellow .bigfoot-footnote__wrapper,
.yellow .bigfoot-footnote__tooltip,
.yellow .bigfoot-footnote {
	background-color: rgb(249, 249, 246);
}
.yellow .popup {
	background-color: rgb(249, 249, 246, 0.95);
}
.yellow.safari .popup {
	background-color: rgb(249, 249, 246, 0.9);
}
#dark.yellow [data-hint]:after,
#dark.yellow .card,
#dark.yellow .bigfoot-footnote__content,
#dark.yellow .bigfoot-footnote__wrapper,
#dark.yellow .bigfoot-footnote__tooltip,
#dark.yellow .bigfoot-footnote {
	background-color: rgb(65, 64, 60);
}
#dark.yellow .popup {
	background-color: rgba(65, 64, 60, 0.95);
}
#dark.yellow.safari .popup {
	background-color: rgba(65, 64, 60, 0.9);
}

/******************
 ***    GREEN   ***
 ******************/

.green .active,
.green .hover:hover:not(.active),
.green main a,
.green main a:link,
.green main a:visited,
.green .anchor,
.green #settings-toggle:hover {
	color: #4CD964;
}
.green .block-list a:hover h3,
#dark.green .block-list a:hover h3 {
	color: #4CD964 !important
}
.green .anchor:hover,
.green main a:hover {
	color: hsl(130, 65%, 47%);
}
#dark.green .anchor:hover,
#dark.green main a:hover {
	color: hsl(130, 65%, 67%);
}
.green .anchor:hover,
.green main a:not(.link-button):hover,
.green menu a:hover, .green menu a.light-hover,
.green .hover:hover:not(.active),
.green #submenu {
	background-color: rgba(76, 217, 100, 0.1);
}
#dark.green main a:not(.link-button):hover,
#dark.green menu a:hover, #dark.green menu a.light-hover,
#dark.green .anchor:hover,
#dark.green .hover:hover:not(.active),
#dark.green #submenu {
	background-color: rgba(76, 217, 100, 0.15);
}
.green h1 a:hover {
	color: #4CD964 !important;
}
.green a .fill-color {
	fill: #4CD964;
}
.green button.bigfoot-footnote__button {
	background-color: #4CD964;
}
	.green button.bigfoot-footnote__button:after {
		color: hsl(130, 65%, 47%);
	}
	#dark.green button.bigfoot-footnote__button:after {
		color: hsl(130, 65%, 67%);
	}
	.green button.bigfoot-footnote__button {
		background-color: rgba(76, 217, 100, 0.1);
	}
	#dark.green button.bigfoot-footnote__button {
		background-color: rgba(76, 217, 100, 0.15);
	}
.green button.bigfoot-footnote__button:hover {
	background-color: hsl(130, 65%, 47%);
}
	.green button.bigfoot-footnote__button:hover,
	.green button.bigfoot-footnote__button:hover,
	.green button.bigfoot-footnote__button:focus {
		background-color: #4CD964 !important;
	}
	.green button.bigfoot-footnote__button:active,
	.green button.bigfoot-footnote__button.is-active {
		background-color: hsl(130, 65%, 47%) !important;
	}
.green button:not(.bigfoot-footnote__button),
.green .link-button {
	background-color: hsl(130, 65%, 47%); /* hsl(130, 65%, 57%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(130, 65%, 67%)), color-stop(65%, hsl(130, 65%, 47%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(130, 65%, 67%) 0, hsl(130, 65%, 47%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(130, 65%, 67%) 0, hsl(130, 65%, 47%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(130, 65%, 67%) 0, hsl(130, 65%, 47%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(130, 65%, 67%) 0, hsl(130, 65%, 47%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(130, 65%, 67%) 0, hsl(130, 65%, 47%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(130, 65%, 67%)', endColorstr='hsl(130, 65%, 47%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid hsl(130, 65%, 57%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(76, 217, 100, 0.2);
}
	.green button:not(.bigfoot-footnote__button):active,
	.green .link-button:active {
		background-color: hsl(130, 65%, 47%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(76, 217, 100, 0.1);
	}
.green input:focus,
.green textarea:focus {
	border-color: #4CD964 !important;
}
.green a:hover .fill-color {
	fill: hsl(130, 65%, 47%) !important;
}
#dark.green .hover:hover:not(.active) {
	color: #4CD964;
}
.green #logo:hover .signature-color {
	fill: #4CD964 !important;
}
.green a .fill-color {
	fill: #4CD964;
}
#dark.green .active {
	background-color: unset;
	color: #4CD964;
}
/* Highlights (must be seperate, combining them breaks the style) */
.green ::selection { /* Safari */
	background: rgba(76, 217, 100, 0.99);
	color: white;
}
.green ::-moz-selection { /* Firefox */
	background: rgba(76, 217, 100, 0.99);
	color: white;
}
#dark.green ::selection { /* Safari */
	background: rgba(76, 217, 100, 0.85);
}
#dark.green ::-moz-selection { /* Firefox */
	background: rgba(76, 217, 100, 0.85);
}
.green .backdrop {
	background-color: #4CD964;
}
.green menu {
	background-color: rgba(253, 255, 253, 0.95);
}
#dark.green menu {
	background-color: rgba(24, 27, 24, 0.95);
}
.green.safari menu {
	background-color: rgba(253, 255, 253, 0.95);
}
#dark.green.safari menu {
	background-color: rgba(24, 27, 24, 0.7);
}
.green [data-hint]:after,
.green .card,
.green .bigfoot-footnote__content,
.green .bigfoot-footnote__wrapper,
.green .bigfoot-footnote__tooltip,
.green .bigfoot-footnote {
	background-color: rgb(247, 249, 247);
}
.green .popup {
	background-color: rgba(247, 249, 247, 0.95);
}
.green.safari .popup {
	background-color: rgba(247, 249, 247, 0.9);
}
#dark.green [data-hint]:after,
#dark.green .card,
#dark.green .bigfoot-footnote__content,
#dark.green .bigfoot-footnote__wrapper,
#dark.green .bigfoot-footnote__tooltip,
#dark.green .bigfoot-footnote {
	background-color: rgb(61, 64, 61);
}
#dark.green .popup {
	background-color: rgba(61, 64, 61, 0.95);
}
#dark.green.safari .popup {
	background-color: rgba(61, 64, 61, 0.9);
}

/******************
 ***   PURPLE   ***
 ******************/

.purple .active,
.purple .hover:hover:not(.active),
.purple main a,
.purple main a:link,
.purple main a:visited,
.purple .anchor,
.purple #settings-toggle:hover {
	color: #5856D6;
}
.purple .block-list a:hover h3,
#dark.purple .block-list a:hover h3 {
	color: #5856D6 !important
}
.purple .anchor:hover,
.purple main a:hover {
	color: hsl(241, 61%, 49%);
}
#dark.purple .anchor:hover,
#dark.purple main a:hover {
	color: hsl(241, 61%, 69%);
}
.purple .anchor:hover,
.purple main a:not(.link-button):hover,
.purple menu a:hover, .purple menu a.light-hover,
.purple .hover:hover:not(.active),
.purple #submenu {
	background-color: rgba(88, 86, 214, 0.1);
}
#dark.purple main a:not(.link-button):hover,
#dark.purple menu a:hover, #dark.purple menu a.light-hover,
#dark.purple .anchor:hover,
#dark.purple .hover:hover:not(.active),
#dark.purple #submenu {
	background-color: rgba(88, 86, 214, 0.15);
}
.purple h1 a:hover {
	color: #5856D6 !important;
}
.purple a .fill-color {
	fill: #5856D6;
}
.purple button.bigfoot-footnote__button {
	background-color: #5856D6;
}
	.purple button.bigfoot-footnote__button:after {
		color: hsl(241, 61%, 49%);
	}
	#dark.purple button.bigfoot-footnote__button:after {
		color: hsl(241, 61%, 69%);
	}
	.purple button.bigfoot-footnote__button {
		background-color: rgba(88, 86, 214, 0.1);
	}
	#dark.purple button.bigfoot-footnote__button {
		background-color: rgba(88, 86, 214, 0.15);
	}
.purple button.bigfoot-footnote__button:hover {
	background-color: hsl(241, 61%, 49%);
}
	.purple button.bigfoot-footnote__button:hover,
	.purple button.bigfoot-footnote__button:hover,
	.purple button.bigfoot-footnote__button:focus {
		background-color: #5856D6 !important;
	}
	.purple button.bigfoot-footnote__button:active,
	.purple button.bigfoot-footnote__button.is-active {
		background-color: hsl(241, 61%, 49%) !important;
	}
.purple button:not(.bigfoot-footnote__button),
.purple .link-button {
	background-color: hsl(241, 61%, 54%); /* hsl(241, 61%, 59%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(241, 61%, 64%)), color-stop(100%, hsl(241, 61%, 54%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(241, 61%, 64%) 0, hsl(241, 61%, 54%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(241, 61%, 64%) 0, hsl(241, 61%, 54%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(241, 61%, 64%) 0, hsl(241, 61%, 54%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(241, 61%, 64%) 0, hsl(241, 61%, 54%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(241, 61%, 64%) 0, hsl(241, 61%, 54%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(241, 61%, 64%)', endColorstr='hsl(241, 61%, 54%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid hsl(241, 61%, 59%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(88, 86, 214, 0.2);
}
	.purple button:not(.bigfoot-footnote__button):active,
	.purple .link-button:active {
		background-color: hsl(241, 61%, 54%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(88, 86, 214, 0.1);
	}
.purple input:focus,
.purple textarea:focus {
	border-color: #5856D6 !important;
}
.purple a:hover .fill-color {
	fill: hsl(241, 61%, 49%) !important;
}
#dark.purple .hover:hover:not(.active) {
	color: #5856D6;
}
.purple #logo:hover .signature-color {
	fill: #5856D6 !important;
}
.purple a .fill-color {
	fill: #5856D6;
}
#dark.purple .active {
	background-color: unset;
	color: #5856D6;
}
/* Highlights (must be seperate, combining them breaks the style) */
.purple ::selection { /* Safari */
	background: rgba(88, 86, 214, 0.99);
	color: white;
}
.purple ::-moz-selection { /* Firefox */
	background: rgba(88, 86, 214, 0.99);
	color: white;
}
#dark.purple ::selection { /* Safari */
	background: rgba(88, 86, 214, 0.85);
}
#dark.purple ::-moz-selection { /* Firefox */
	background: rgba(88, 86, 214, 0.85);
}
.purple .backdrop {
	background-color: #5856D6;
}
.purple menu {
	background-color: rgba(253, 253, 255, 0.95);
}
#dark.purple menu {
	background-color: rgba(24, 24, 27, 0.95);
}
.purple.safari menu {
	background-color: rgba(253, 253, 255, 0.7);
}
#dark.purple.safari menu {
	background-color: rgba(24, 24, 27, 0.7);
}
.purple [data-hint]:after,
.purple .card,
.purple .bigfoot-footnote__content,
.purple .bigfoot-footnote__wrapper,
.purple .bigfoot-footnote__tooltip,
.purple .bigfoot-footnote {
	background-color: rgb(247, 247, 249);
}
.purple .popup {
	background-color: rgba(247, 247, 249, 0.95);
}
.purple.safari .popup {
	background-color: rgba(247, 247, 249, 0.9);
}
#dark.purple [data-hint]:after,
#dark.purple .card,
#dark.purple .bigfoot-footnote__content,
#dark.purple .bigfoot-footnote__wrapper,
#dark.purple .bigfoot-footnote__tooltip,
#dark.purple .bigfoot-footnote {
	background-color: rgb(61, 61, 64);
}
#dark.purple .popup {
	background-color: rgba(61, 61, 64, 0.95);
}
#dark.purple.safari .popup {
	background-color: rgba(61, 61, 64, 0.9);
}

/******************
 ***    PINK    ***
 ******************/

.pink .active,
.pink .hover:hover:not(.active),
.pink main a,
.pink main a:link,
.pink main a:visited,
.pink .anchor,
.pink #settings-toggle:hover {
	color: #FF2D55;
}
.pink .block-list a:hover h3,
#dark.pink .block-list a:hover h3 {
	color: #FF2D55 !important;
}
.pink .anchor:hover,
.pink main a:hover {
	color: hsl(349, 100%, 49%);
}
#dark.pink .anchor:hover,
#dark.pink main a:hover {
	color: hsl(349, 100%, 69%);
}
.pink .anchor:hover,
.pink main a:not(.link-button):hover,
.pink menu a:hover, .pink menu a.light-hover,
.pink .hover:hover:not(.active),
.pink #submenu {
	background-color: hsla(342, 100%, 65%, 0.1);
}
#dark.pink main a:not(.link-button):hover,
#dark.pink menu a:hover, #dark.pink menu a.light-hover,
#dark.pink .anchor:hover,
#dark.pink .hover:hover:not(.active),
#dark.pink #submenu {
	background-color: hsla(342, 100%, 65%, 0.15);
}
.pink h1 a:hover {
	color: #FF2D55 !important;
}
.pink a .fill-color {
	fill: #FF2D55;
}
.pink button.bigfoot-footnote__button {
	background-color: #FF2D55;
}
	.pink button.bigfoot-footnote__button:after {
		color: hsl(349, 100%, 49%);
	}
	#dark.pink button.bigfoot-footnote__button:after {
		color: hsl(349, 100%, 69%);
	}
	.pink button.bigfoot-footnote__button {
		background-color: hsla(342, 100%, 65%, 0.1);
	}
	#dark.pink button.bigfoot-footnote__button {
		background-color: hsla(342, 100%, 65%, 0.15);
	}
.pink button.bigfoot-footnote__button:hover {
	background-color: hsl(349, 100%, 49%);
}
	.pink button.bigfoot-footnote__button:hover,
	.pink button.bigfoot-footnote__button:hover,
	.pink button.bigfoot-footnote__button:focus {
		background-color: #FF2D55 !important;
	}
	.pink button.bigfoot-footnote__button:active,
	.pink button.bigfoot-footnote__button.is-active {
		background-color: hsl(349, 100%, 49%) !important;
	}
.pink button:not(.bigfoot-footnote__button),
.pink .link-button {
	background-color: hsl(349, 100%, 54%); /* hsl(349, 100%, 59%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(349, 100%, 64%)), color-stop(100%, hsl(349, 100%, 54%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(349, 100%, 64%) 0, hsl(349, 100%, 54%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(349, 100%, 64%) 0, hsl(349, 100%, 54%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(349, 100%, 64%) 0, hsl(349, 100%, 54%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(349, 100%, 64%) 0, hsl(349, 100%, 54%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(349, 100%, 64%) 0, hsl(349, 100%, 54%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(349, 100%, 64%)', endColorstr='hsl(349, 100%, 54%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid hsl(349, 100%, 59%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(255, 45, 85, 0.2);
}
	.pink button:not(.bigfoot-footnote__button):active,
	.pink .link-button:active {
		background-color: hsl(349, 100%, 54%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em hsla(342, 100%, 65%, 0.1);
	}
.pink input:focus,
.pink textarea:focus {
	border-color: #FF2D55 !important;
}
.pink a:hover .fill-color {
	fill: hsl(349, 100%, 49%) !important;
}
#dark.pink .hover:hover:not(.active) {
	color: #FF2D55;
}
.pink #logo:hover .signature-color {
	fill: #FF2D55 !important;
}
.pink a .fill-color {
	fill: #FF2D55;
}
#dark.pink .active {
	background-color: unset;
	color: #FF2D55;
}
/* Highlights (must be seperate, combining them breaks the style) */
.pink ::selection { /* Safari */
	background: rgba(255, 45, 85, 0.99);
	color: white;
}
.pink ::-moz-selection { /* Firefox */
	background: rgba(255, 45, 85, 0.99);
	color: white;
}
#dark.pink ::selection { /* Safari */
	background: rgba(255, 45, 85, 0.85);
}
#dark.pink ::-moz-selection { /* Firefox */
	background: rgba(255, 45, 85, 0.85);
}
.pink .backdrop {
	background-color: #FF2D55;
}
.pink menu {
	background-color: rgba(255, 252, 253, 0.95);
}
#dark.pink menu {
	background-color: rgba(28, 23, 24, 0.95);
}
.pink.safari menu {
	background-color: rgba(255, 252, 253, 0.7);
}
#dark.pink.safari menu {
	background-color: rgba(28, 23, 24, 0.7);
}
.pink [data-hint]:after,
.pink .card,
.pink .bigfoot-footnote__content,
.pink .bigfoot-footnote__wrapper,
.pink .bigfoot-footnote__tooltip,
.pink .bigfoot-footnote {
	background-color: rgb(249, 246, 247);
}
.pink .popup {
	background-color: rgba(249, 246, 247, 0.95);
}
.pink.safari .popup {
	background-color: rgba(249, 246, 247, 0.9);
}
#dark.pink [data-hint]:after,
#dark.pink .card,
#dark.pink .bigfoot-footnote__content,
#dark.pink .bigfoot-footnote__wrapper,
#dark.pink .bigfoot-footnote__tooltip,
#dark.pink .bigfoot-footnote {
	background-color: rgb(65, 60, 61);
}
#dark.pink .popup {
	background-color: rgba(65, 60, 61, 0.95);
}
#dark.pink.safari .popup {
	background-color: rgba(65, 60, 61, 0.9);
}