.dark-mode {}

/* PAGE ------------------------------------------------------------ */

html {
	background-color: #272822 !important;
	color: #F8F8F2 !important;
}
/* Provides a nice "sketchpad" like texture to the background */
#content,
.active a  {
    background-image: none !important;
}

/* NAVBAR ---------------------------------------------------------- */

menu {
	-webkit-animation: none !important;
	   -moz-animation: none !important;
	    -ms-animation: none !important;
	     -o-animation: none !important;
	        animation: none !important;
}
menu ul li a,
menu ul li label {
	color: #BBBBBB !important;
}
.active,
menu {
	background-color: #161713 !important;
}
.active {
	background-color: #272822 !important;
}
.active a {
	color: #F8F8F2 !important;
}
.hover:hover:not(.active) {
	background-color: rgba(39, 40, 34, 0.5) !important;
}

/* LOGO ----------------------------------------------------------- */

#sunglasses {
	opacity: 1;
}
#logo:hover #smirk {
    opacity: 1;
}
#smirk {
    opacity: 0;
}
.signature-color {
	fill: #F8F8F2;
}

/* WRITING STYLES ------------------------------------------------------------------- */

h1 a,
h1 a:link,
h1 a:visited {
    color: #F8F8F2 !important;
}

/* IMAGES & VIDEO ----------------------------------------------------------- */

.fill-color,
svg:hover .fill-color {
    fill: #F8F8F2 !important;
}
.stroke-color {
    stroke: #F8F8F2 !important;
}
.fill-transparent {
	fill: #3C3D37 !important;
}
.stroke-transparent {
    stroke: #3C3D37 !important;
}

.show-when-dark {
    display: inline-block !important;
}
.show-when-light {
    display: none !important;
}

.macos-screenshot {
	box-shadow: 0px 0px 1rem #101010;
	-webkit-box-shadow: 0px 0px 1rem #101010;
	-moz-box-shadow: 0px 0px 1rem #101010;
}

/* FOOTNOTES ---------------------------------------------------------------- */

.bigfoot-footnote__content,
.bigfoot-footnote__wrapper,
.bigfoot-footnote__tooltip,
.bigfoot-footnote {
	background-color: #3C3D37;
	color: white;
}
.bigfoot-footnote__tooltip,
.bigfoot-footnote {
	border-color: #3A3B35;
}

/* DIVIDERS ----------------------------------------------------------------- */

article hr,
footer hr,
hr.small,
hr.gray {
	background-color: #E5E5E5 !important;
	background: #E5E5E5 !important;
	background: -moz-linear-gradient(left, #333333 0%, #E5E5E5 25%, #E5E5E5 50%, #E5E5E5 75%, #333333 100%) !important;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #333333), color-stop(25%, #E5E5E5), color-stop(50%, #E5E5E5), color-stop(75%, #E5E5E5), color-stop(100%, #333333)) !important;
	background: -webkit-linear-gradient(left, #333333 0%, #E5E5E5 25%, #E5E5E5 50%, #E5E5E5 75%, #333333 100%) !important;
	background: -o-linear-gradient(left, #333333 0%, #E5E5E5 25%, #E5E5E5 50%, #E5E5E5 75%, #333333 100%) !important;
	background: -ms-linear-gradient(left, #333333 0%, #E5E5E5 25%, #E5E5E5 50%, #E5E5E5 75%, #333333 100%) !important;
	background: linear-gradient(to right, #333333 0%, #E5E5E5 25%, #E5E5E5 50%, #E5E5E5 75%, #333333 100%) !important;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=1 ) !important;
}
hr {
	background: -moz-linear-gradient(left, #333333 0, #157EFB 25%, #157EFB 50%, #157EFB 75%, #333333 100%) !important;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #333333), color-stop(25%, #157EFB), color-stop(50%, #157EFB), color-stop(75%, #157EFB), color-stop(100%, #333333)) !important;
	background: -webkit-linear-gradient(left, #333333 0, #157EFB 25%, #157EFB 50%, #157EFB 75%, #333333 100%) !important;
	background: -o-linear-gradient(left, #333333 0, #157EFB 25%, #157EFB 50%, #157EFB 75%, #333333 100%) !important;
	background: -ms-linear-gradient(left, #333333 0, #157EFB 25%, #157EFB 50%, #157EFB 75%, #333333 100%) !important;
	background: linear-gradient(to right, #333333 0, #157EFB 25%, #157EFB 50%, #157EFB 75%, #333333 100%) !important;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=1 ) !important;
}

/* CARDS -------------------------------------------------------------------- */

.card {
	background-color: #3C3D37;
}
.card .label .primary {
	color: white;
}
.card .label .secondary {
	color: #CFCFC2;
}

/* CODE --------------------------------------------------------------------- */

pre, code {
	background-color: rgba(16, 15, 14, 0.5);
	color: #CFCFC2;
}
pre code {
	background-color: transparent;
}