/*
CONTENT:
    Font families ---
    Font sizes  ---
    Root elements ---
    Navbar ---
    Headers ---
    Paragraph elements ---
    Stream navigation ---
    Images & video ---
    Footnotes ---
    Dividers ---
    Tables ---
    Buttons ---
    Positioning ---
    Title ---
    Page Footer ---
    Anchors ---
    Code ---
*/

/* FONT FAMILIES -------------------------------------------------------------------- */

/* Font Families (input and textarea explicitly included to fix Windows issues) */
html, input, textarea {
    font-family: system, -apple-system, ".SFNSDisplay-Regular", "San Francisco", "HelveticaNeue", "Helvetica Neue", Helvetica, "Segoe UI", Arial, "Lucida Grande", sans-serif;
}
h1 {
    font-family: system, -apple-system, ".SFNSDisplay-Ultralight", "San Francisco", "HelveticaNeueUltraLight", 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Segoe UI", "HelveticaNeue", "Helvetica Neue", "Arial", sans-serif;
    font-weight:100;
}
pre, code {
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
}

/* FONT SIZES ------------------------------------------------------------------- */

/* Weights, kerning, etc. */
html {
    -webkit-font-smoothing: antialiased;
}
input, textarea {
    /* Better experience for user while entering text */
    letter-spacing: 1px !important;
}
code:before, code:after {
    letter-spacing: -0.2em;
}
menu ul {
    letter-spacing: 0.1px;
}
figcaption {
    letter-spacing: 0.0625em;
}
h2, h3 {
    font-weight: 500;
}
table th, strong {
    font-weight: bold;
}
blockquote, em {
    font-style: italic;
}
h4, time,
figcaption, .weak {
    color: #979797;
}


/* Sizes */
h1 { /* Page Headers */
    font-size: 45px;
    line-height: 45px;
}
h2 { /* Post Titles */
    font-size: 24px;
    line-height: 34px;
}
h3, h4, h5, menu ul,
#bottom-navigation {
    font-size: 19px;
}
    h3, menu ul, h4, #bottom-navigation {
        line-height: 28px;
    }
    h5 {
        line-height: 23px;
    }
time,
p, blockquote, ol, ul,
table, #page-footer-text {
    font-size: 14px;
}
    time, #page-footer-text {
        line-height: 14px;
    }
    p, #archive-list li, blockquote, ol, ul, table {
        line-height: 22px;
    }
.footnotes ol li p,
.footnotes ol,
figcaption, pre > code, code,
input, select, textarea, button {
    font-size: 12px;
}
    pre {
        line-height: 16px;
    }
    figcaption,
    .footnotes ol li p, /* The inline footnote text */
    .footnotes ol { /* The number in the list */
        line-height: 20px;
    }

/* ROOT ELEMENTS ------------------------------------------------------------ */

html {
    background-color: white;
}
body, main {
    text-align: center;
}
html, body {
    height: 100%;
}
main {
    display: block; /* IE 11 does not fully support main, ignores max-width otherwise */
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 463px;
    width: auto;
    margin: 0 auto;
    margin-top: 35px;
}
.fat-page main {
    max-width: 546px;
}


#content {
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 18px; /* Must be same height as the bottom banner! */
}

/* NAVBAR ---------------------------------------------------------- */

menu ul {
    position: relative;
    list-style-type: none;
    text-align: center;
    margin-top: 0;
    padding-left: 6vw;
    padding-right: 6vw;
}
menu ul li {
    display: inline-block;
    margin-left: -2.5px;
    margin-right: -2.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
    transition: background-color .1s linear;
}
menu ul li a {
    display: list-item;
    padding: 6px 15px;
    color: white; /* Foreground color of main menu and submenu */
}

/* HEADERS ------------------------------------------------------------------- */

h1 {
    margin-top: 11px;
    margin-bottom: 11px;
    width: auto;
    display: inline-block;
}
h2, h3, time {
    text-align: left;
}
h3 { 
    margin: 22px 0;
}
h2 {
    margin-top: 22px;
}


time {
    display: block;
    margin-top: 0px;
    margin-bottom: 11px;
}

/* PARAGRAPH ELEMENTS ------------------------------------------------------- */

p, ol, ul {
    text-align: left;
}


p, ol, ul, #archive-list {
    margin: 22px 0;
}


ol, ul {
    padding-left: 33px;
}
ol {
    list-style-type: decimal;
}
ul {
    list-style-type: initial;
}
ol li, ul li {
    margin: 22px 0;
}
ol li > :last-child, ul li > :last-child {
    margin-bottom: 0px;
}
#archive-list {
    list-style: none;
    padding-left: 0px;
}
#archive-list li {
    margin: 0;
}


blockquote {
    padding-left: 15px;
    border-left: 4px solid #e8e8e8;
    color: #828282;
}
blockquote > :last-child {
    margin-bottom: 0;
}

/* STREAM NAVIGATION -------------------------------------------------------- */

#navigation-previous {
    display: inline-block;
    float: left;
    text-align: left;
}
#navigation-next {
    display: inline-block;
    float: right;
    text-align: right;
}

/* IMAGES & VIDEO ----------------------------------------------------------- */

img {
    max-width: 100%;
    max-height: 100%;
    width: auto\9;
}
article img {
    display: block;
    text-align: center;
    margin: 0 auto;
}


figure p {
    text-align: center;
}
figcaption {
    padding: 0 5%;
    margin-top: -11px;
    margin-bottom: 22px;
}


/****** ALL IMAGES TYPES FOR USE IN BLOG ******/
/* A true, edge-to-edge image. To be used for full-blown banners and scenic,
image heavy adventure posts like the Sibs Trip. Should be used rarely and with
extreme deliberation. */
.edge-to-edge,
/* Used for most post images. Responsive images will be edge-to-edge on small
devices and on medium devices in post view but will switch to large, inline
images on home view on medium devices and both views on large devices to
provide a better viewing experience on large screens. */
.responsive,
/* There are some rare cases where images actually shouldn't spill past the
text's width bounds since they then take over the vertical space and become an
uncomfortable waste of space. (square images mostly). In these cases it
actually makes more sense to have the image be edge-to-edge only on small
devices then switch to bound, inline images on medium and large devices
in both views. */
.bound-responsive,
/* For non-blog post banners (About page, Code project pages, etc.) that I
personally think shouldn't be a full blown banner and work better as a "shy"
banner that acts edge-to-edge in almost all cases except large devices where
it switches back to a large, inline image with padding. */
.shy-banner {
    display: inline-block;
    height: auto;
    width: 100vw;
    max-width: 1600px;
    max-height: none;
    margin-left: -30vw;
    margin-right: -30vw;
}


/* iOS screen shots (OS X Yosemite "window" blur otherwise window blends into
website background)*/
.screenshot-shadow {
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}
/* The size of the iOS screenshot will change depending on how many should be
shown inline. I have no doubt there's a dynamic, nice way to do it but I doubt
there's a way to do so with the way the rest of the content is currently
flowed (my responsive stuff is basically a hack as is...) */
.ios-one-screen,
.ios-two-screens,
.ios-three-screens {
    border-radius: 4px;
}
.ios-one-screen {
    max-width: 70vw;
}
.ios-two-screens {
    max-width: 43vw;
    margin-left: 3vw;
    margin-right: 3vw;
}
.ios-three-screens {
    max-width: 28vw;
    margin-left: 2vw;
    margin-right: 2vw;
}


video {
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* FOOTNOTES ---------------------------------------------------------------- */

.footnotes ol {
    margin-left: 16px;
    padding-left: 0px;
}
.footnotes ol > :last-child {
    margin-bottom: 0px;
}
.footnotes ol, .footnotes ol li p {
    margin-top: 0px;
}

/* DIVIDERS ----------------------------------------------------------------- */

hr {
    margin: 44px 0;
    border: none;
}
article hr, footer hr {
    border-top: 1px solid #E5E5E5;
}

/* TABLES ------------------------------------------------------------------- */

table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 24px;
    word-break: normal;
    word-break: keep-all;
}
hr:before, hr:after {
    display: table;
    content: "";
}
hr:after {
    clear: both;
}

/* BUTTONS ------------------------------------------------------------------ */

button {
    height: 25px;
}


/* Smooth hover-transition buttons & Generic round button (RSS, Archive, etc.) */
.button-hover, .button-default,
.social-site-button, .experience-company-button, .news-logo-button, .round-button {
    position: relative;
    display: inline-block;
}
.round-button {
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.button-hover {
    opacity: 0;
}
.button-hover:hover {
    opacity: 1;
}
.round-button img,
.icon-button img,
.social-site-button img,
.news-logo-button img,
.experience-company-button img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

/* POSITIONING -------------------------------------------------------------- */

/* NOT ideal, but makes the non-blog page markup slightly nicer to handle, and
there are times we need to fiddle with the margin and width to truely get
something to center. */
.center {
    text-align: center;
    width: auto;
    margin: 0 auto;
}


.vertical-top {
    vertical-align: top;
}
.inline-block {
    display: inline-block;
}


/* Relic from release 3.0. Again, NOT ideal and needs to be fixed/removed in a
   future refactor.*/   
.large-top-pad {
    margin-top: 44px;
}
.large-bottom-pad {
    margin-bottom: 44px;
}
.massive-left-pad {
    padding-left: 33px;
}
.divider {
    margin: 0 22px;
}
.banner-header-padding {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.banner-top-padding {
    margin-top: -35px;
}

/* TITLE ----------------------------------------------------------- */

#logo-image {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-top:1px;
}
#logo-text {
    height: 35px;
    margin-top:-1px;
}

svg #logo-eye-opened,
h1:hover #logo-eye-closed {
    opacity: 1;
}
svg #logo-eye-closed,
h1:hover #logo-eye-opened {
    opacity: 0;
}

/* PAGE FOOTER ------------------------------------------------------------ */

/* The root containers for all non-bottom banner site elements */
#wrap {
    min-height: 100%;
}
/*
Immediate child element of wrap. Since it rests inside wrap the
padding height is part of the 100%, thus forcing the bottom banner to
rest at the bottom of the page.
*/
#page-footer {
    position: relative;
    height: 18px;
    margin-top: -18px; /* Negative value of footer height */
    clear: both;
}
#page-footer-text {
    height: auto;
    padding-top: 2px;
}
#page-footer-text a {
    color: white;
}
/* Opera Fix */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

/* ANCHORS ----------------------------------------------------------- */

.anchor {
    color: currentcolor;
    text-decoration: none;
    padding: 0 .34em;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    float: none;
    margin-left: 0em;
}

.anchored:hover .anchor,
.anchored .anchor:hover {
    opacity: 1;
}

/* ACTIONS SHEET ----------------------------------------------------------- */

#actions-sheet {
    padding-top: 66px;
}
.action-label {
    padding-bottom: 11px;
    color: #979797;
}
.action-category {
    display: inline-block;
    text-align: center;
    /* This MUST be the max width of the action label */
    max-width: 122px;
    width: auto;
    margin: 0 44px;
}

/* CODE --------------------------------------------------------------------- */

pre {
    display: inline-block;
    width: 100vw;
    height: auto;
    max-width: 1600px;
    max-height: none;
    margin-left: -28vw;
    margin-right: -28vw;
    margin-top: 22px;
    margin-bottom: 22px;
    -webkit-text-size-adjust: none;
}
code {
    padding: 0;
    margin: 0;
}
pre > code {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    margin-left: 18px;
    margin-right: 18px;

    overflow: hidden;
    /* Fix for that awful, double scrollview thing in Windows */
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    
    max-width: initial;
    line-height: inherit;
    background-color: transparent;
    word-break: normal;
    white-space: pre;
}
.highlight pre, pre {
    padding-top: 1em;
    padding-bottom: 1em;

    background-color: #272821;
    color: white;
    overflow: scroll;

    text-align:left;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
.highlight pre {
    word-break: normal;
}
pre code:before,
pre code:after {
    content: normal;
}
/* These must be separate, otherwise the highlighting doesn't work */
code::selection, pre::selection {
    background: hsla(54, 8%, 26%, 0.9);
}
pre::-moz-selection, code::-moz-selection,
pre ::-moz-selection, code ::-moz-selection {
    text-shadow: none;
    background: hsla(54, 8%, 26%, 0.9);
}
pre::selection, code::selection,
pre ::selection, code ::selection {
    text-shadow: none;
    background: hsla(54, 8%, 26%, 0.9);
}
:not(pre) > code {
    background-color: rgba(0, 0, 0, .07);
    border-radius: 4px;
    padding: .15em .4em;
    margin-left: 0em;
    margin-right: 0em;
    word-wrap: break-word;
}
a > code {
    color: black;
}
.highlight {
    width: 100%;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
}



/* ======================================================================================================= */



/* Small devices (iPads) */
@media (min-width: 43.75rem) {
    /* ----- FONT SIZES ----- */
    menu ul {
        letter-spacing: 0px;
    }
    h1 {
        font-size: 68px;
        line-height: 34px;
    }
    h2 {
        font-size: 30px;
        line-height: 41px;
    }
    h3, h5, h4, menu ul,
    #bottom-navigation {
        font-size: 24px;
    }
        menu ul {
            line-height: 22px;
        }
        h3, h4 {
            line-height: 33px;
        }
        h5 {
            line-height: 28px;
        }
    time,
    p, blockquote, ol, ul,
    table, #page-footer-text {
        font-size: 16px;
    }
        #page-footer-text {
            line-height: 16px;
        }
        time {
            line-height: 20px;
        }
        p, blockquote, ol, ul, #archive-list li,
        table {
            line-height: 25px;
        }
    .footnotes ol li p,
    .footnotes ol,
    figcaption, pre > code, code,
    input, select, textarea, button {
        font-size: 14px;
    }
        pre {
            line-height: 18px;
        }
        figcaption,
        .footnotes ol li p,
        .footnotes ol {
            line-height: 23px;
        }


    /* ----- ROOT ELEMENTS ----- */
    main {
        padding-left: 0%;
        padding-right: 0%;
        max-width: 529px;
        margin-top: 45px;
    }
    .fat-page main {
        max-width: 648px;
    }

    #content {
        padding-bottom: 23px;
    }


    /* ----- NAVBAR ----- */
    menu ul {
        padding-left: 0px;
        padding-right: 0px;
    }
    menu ul li {
        padding-top: 0px;

        margin-left: -3.3px;
        margin-right: -3.3px;
    }
    menu ul li a {
        padding: 8px 28px;
    }


    /* ----- HEADERS ----- */
    h1, h3 {
        margin: 25px 0;
    }
    h2 {
        margin-top: 25px;
    }
    time {
        margin-bottom: 12.5px;
    }


    /* ----- PARAGRAPH ELEMENTS ----- */
    p, ol, ul, #archive-list {
        margin: 25px 0;
    }
    ol, ul {
        padding-left: 50px;
    }
    ol li, ul li {
        margin: 25px 0;
    }
    

    /* ----- STREAM NAVIGATION ----- */
    

    /* ----- IMAGES & VIDEO ----- */
    figcaption {
        margin-top: -12.5px;
        margin-bottom: 25px;
    }
    /* When on the home view we want all images AND code blocks to actually be
    bound, inline objects to provide a less distracting view of the post for
    speed reading and/or binge reading. This will still allow the code blocks
    to be completely edge-to-edge in the dedicated post view.*/
    .reserved-mode main article .edge-to-edge {
        display: block;
        max-width: 529px;
        width: 100%;
        margin: 0;

        max-width: 800px;
        border-radius: 4px;
    }
    /* From here one out bound-responsive images will never be larger than the width
       bounds of the enclosing text. */
    .bound-responsive {
        max-width: 650px;
        width: auto;
        border-radius: 4px;
    }
    .ios-one-screen, .ios-two-screens, .ios-three-screens {
        max-width: 28vw;
        margin: 0 2vw;
    }


    /* ----- FOOTNOTES ----- */
    .footnotes ol {
        margin-left: 18px;
    }


    /* ----- DIVIDERS ----- */
    hr {
        margin: 50px -28vw;
        max-width: 840px;

        display: inline-block;
        width: 80vw;
    }
    article hr, footer hr {
        margin: 25px 0;
        max-width: 529px;
        border-top: 1px solid #E5E5E5;
    }


    /* ----- TABLES ----- */
    table {
        margin-bottom: 32px;
    }


    /* ----- BUTTONS ----- */
    .bigfoot-footnote__button {
        font-size: 16px;
    }
    button {
        height: 27px;
    }


    /* ----- POSITIONING ----- */
    .large-top-pad {
        margin-top: 50px;
    }
    .large-bottom-pad {
        margin-bottom: 50px;
    }
    .massive-left-pad {
        padding-left: 50px;
    }
    .divider {
        margin: 0 50px;
    }
    .banner-top-padding {
        margin-top: -45px;
    }


    /* ----- TITLE ----- */
    #logo-image {
        width: 48px;
        height: 48px;
    }
    #logo-text {
        height: 52px;
    }


    /* ----- PAGE FOOTER ----- */
    #page-footer {
        padding-top: 2px;
        height: 23px;
        margin-top: -25px;
    }


    /* ----- ANCHORS ----- */
    .anchor {
        float: left;
        margin-left: -1.3em;
    }


    /* ----- ACTIONS SHEET ----- */
    #actions-sheet {
        padding-top: 75px;
    }
    .action-label {
        padding-bottom: 12.5px;
    }
    .action-category {
        margin: 0 50px;
    }


    /* ----- CODE ----- */
    pre {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/* Large devices (Macs) */
@media (min-width: 56.25em) {
    /* ----- FONT SIZES ----- */
    h1 {
        font-size: 91px;
        line-height: 45px;
    }
    h2 {
        font-size: 35px;
        line-height: 48px;
    }
    h3, h4, h5, menu ul,
    #bottom-navigation {
        font-size: 27px;
        line-height: 27px;
    }
        menu ul {
            line-height: 27px;
        }
        h5 {
            line-height: 33px;
        }
        h3, h4, #bottom-navigation {
            line-height: 38px;
        }
    time,
    p, blockquote, ol, ul,
    table, #page-footer-text {
        font-size: 18px;
    }
        #page-footer-text {
            line-height: 18px;
        }
        time {
            line-height: 23px;
        }
        p, blockquote, ol, ul, #archive-list li,
        table {
            line-height: 27px;
        }
    .footnotes ol li p,
    .footnotes ol,
    figcaption, pre > code, code,
    input, select, textarea, button {
        font-size: 16px;
    }
        pre {
            line-height: 20px;
        }
        figcaption,
        .footnotes ol li p,
        .footnotes ol {
            line-height: 25px;
        }


    /* ----- ROOT ELEMENTS ----- */
    main {
        max-width: 595px;
        margin-top: 50px;
    }
    .fat-page main {
        max-width: 764px;
    }


    /* ----- NAVBAR ----- */
    menu ul li a {
        padding-left: 41px;
        padding-right: 41px;
    }


    /* ----- HEADERS ----- */
    h1, h3 {
        margin: 27px 0;
    }
    h2 {
        margin-top: 27px;
    }
    time {
        margin-bottom: 13.5px;
    }


    /* ----- PARAGRAPH ELEMENTS ----- */
    p, ol, ul, #archive-list {
        margin: 27px 0;
    }
    ol, ul {
        padding-left: 54px;
    }
    ol li, ul li {
        margin: 27px 0;
    }


    /* ----- STREAM NAVIGATION ----- */


    /* ----- IMAGES & VIDEO ----- */
    figcaption {
        margin-top: -13.5px;
        margin-bottom: 27px;
    }
    /* Hard-coded adjustment of the bound-responsive image width to match the text's
       width */
    .bound-responsive {
        max-width: 800px;
    }
    .responsive {
        max-width: 1158px;
        width: 100vw;
    }
    .shy-banner {
        max-width: 100%;
        width: auto;
        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 54px;
        border-radius: 4px;
    }
    /* Lets iOS Screenshots spill beyond the text width bounds when in post view,
       but stay bound for home view. */
    .ios-one-screen {
        width: 25vw;
        max-width: 355px;
    }
    .ios-two-screens {
        width: 25vw;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 355px;
    }
    .ios-three-screens {
        width: 25vw;
        margin-left: 14px;
        margin-right: 14px;
        max-width: 355px;
    }


    /* ----- FOOTNOTES ----- */
    .footnotes ol {
        margin-left: 27px;
    }


    /* ----- DIVIDERS ----- */
    hr {
        margin: 54px -28vw;

        display: inline-block;
        width: 82vw;
        max-width: 1158px;
        min-width: 810px;
    }
    article hr, footer hr {
        margin: 27px 0;

        width: 100%;
        max-width: none;
        min-width: 595px;
    }


    /* ----- TABLES ----- */
    table {
        margin-top: 32px;
        margin-bottom: 38px;
    }


    /* ----- BUTTONS ----- */
    .bigfoot-footnote__button {
        font-size: 18px;
    }
    button {
        height: 28px;
    }


    /* ----- POSITIONING ----- */
    .large-top-pad {
        margin-top: 54px;
    }
    .large-bottom-pad {
        margin-bottom: 54px;
    }
    .massive-left-pad {
        padding-left: 54px;
    }
    .banner-top-padding {
        margin-top: -50px;
    }
    .divider {
        margin: 0 54px;
    }


    /* ----- TITLE ----- */
    #logo-image {
        width: 64px;
        height: 64px;
        padding-top:2px;
    }
    #logo-text {
        height: 70px;
        margin-top:-2px;
    }

    /* ----- PAGE FOOTER ----- */


    /* ----- ANCHORS ----- */


    /* ----- ACTIONS SHEET ----- */
    #actions-sheet {
        padding-top: 81px;
    }
    .action-label {
        padding-bottom: 13.5px;
    }
    .action-category {
        margin: 0 54px;
    }


    /* ----- CODE ----- */
    pre {
        margin-top: 27px;
        margin-bottom: 27px;
        max-width: 1200px;
        width: 800px;
        border-radius: 4px;
    }
}