#mainmenu {
	height: initial;
}
article {
	max-width: 35em;
	text-align: center;
	display: inline-block;
	margin-bottom: 3.9em;
}
#parallax-foreground {
	min-width: 90vw;
	width: 90vw;
	margin-top: 0;
	top: -1vw;
}
#parallax-background figure {
	margin: 0 !important;
}
menu {
	border-bottom: 1px solid rgba(51, 51, 51, 0.1) !important;
}
#parallax-background figure,
#parallax-background video {
	margin: 0 !important;
	padding: 0 !important;
}
@media (min-width: 700px) {
	#parallax {
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
	}
		#parallax .container {
			perspective: 1px;
			perspective-origin: top left;
		}
		#parallax .layer {
			position: absolute;
			position: sticky;
			top: 0px;
			box-sizing: border-box;
			display: block;
		}
			/* make parallax work in iOS Safari */
			@supports (position: -webkit-sticky) {
				#parallax .layer {
					position: -webkit-sticky;
				}
			}
	#parallax-background {
		transform: translateZ(-0.2px);
		display: block;
		position: absolute;

		height: 67.5vw;
		width: 120vw;
		margin-bottom: -11.25vw;

		background-size: cover;
		background-position: center;
	}
		#parallax-background figure,
		#parallax-background video {
			width: 120vw;
			height: 67.5vw;
			min-height: 67.5vw;
		}
		#parallax-background .edge-to-edge {
			max-width: unset;
		}
	#parallax-foreground {
		transform: translateZ(0px);
		z-index: 10;

		box-shadow: 0 -20px 20px -20px rgba(115, 115, 115, 0.75);
		background-color: rgba(255, 255, 255, 1);

		min-width: 100vw;
		width: 100vw;
		height: auto;
		margin: 0 !important;
	}
		@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
			#parallax-foreground {
				-webkit-backdrop-filter: saturate(180%) blur(20px);
				backdrop-filter: saturate(180%) blur(20px);
				background-color: rgba(255, 255, 255, 0.95);
			}
		}
	menu {
		transform: translateZ(0px);
		z-index: 1;

		background-color: transparent !important;
		-webkit-backdrop-filter: none !important;
		backdrop-filter: none !important;

		border: none !important;
		box-shadow: none !important;

		position: fixed; /* Fallback for browsers that don't support sticky */
		position: sticky;
		top: 0;
		height: 0; /* Fixing Chrome rendering bug where it pushes all content down */
		box-shadow: none;
		min-width: 100vw;
	}
	body {
		transform: translateZ(0px);
	}

	menu ul a,
	menu,
	.hover:hover:not(.active),
	#settings-toggle {
		color: white;
	}
	.signature-color {
		fill: white;
	}
	.active,
	.hover:hover:not(.active),
	#settings-toggle:hover {
		color: rgb(0, 122, 255);
	}
}