#parallax {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
	#parallax .container {
		perspective: 1px;
		perspective-origin: top left;
	}
	#parallax .layer {
		position: absolute;
		position: sticky;
		top: 0px;
		box-sizing: border-box;
		display: block;
	}
		/* make parallax work in iOS Safari */
		.safari #parallax .layer {
			position: -webkit-sticky;
		}
		/* Have to turn off parallax, Firefox sucks */
		.firefox #parallax .layer {
			position: absolute; 
		}
		.firefox #parallax-foreground {
			top: 100vh;
		}
#parallax-background {
	transform: translateZ(-0.2px);

	height: 120vh;
	width: 120vw;
	margin-bottom: -20vh;

	background-size: cover;
	background-position: center;
}
	#parallax-background figure,
	#parallax-background video {
		margin: 0 !important;
		padding: 0 !important;
	}
#parallax-foreground {
	transform: translateZ(0px);
	z-index: 10;
	
	box-shadow: 0 -20px 20px -20px rgba(115, 115, 115, 0.75);
	background-color: white;

	width: 100vw;
	min-width: 100vw;
	height: auto;
	margin: 0 !important;
}
article {
	max-width: 35em;
	text-align: center;
	display: inline-block;
	margin-bottom: 2.6em;
}
menu {
	transform: translateZ(0px);
	z-index: 1;

	background-color: transparent !important;
	-webkit-backdrop-filter: none !important;
	backdrop-filter: none !important;
	border: none !important;
	
	position: fixed; /* Fallback for browsers that don't support sticky */
	position: sticky;
	top: 0;
	height: 0; /* Fixing Chrome rendering bug where it pushes all content down */
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	min-width: 100vw;
}
body {
	transform: translateZ(0px);
}

menu ul a:not(.active) {
	color: white;
}
#dark-mode-toggle .fill-color {
	fill: white;
}
#dark-mode-toggle .stroke-color {
	stroke: white;
}
.signature-color {
	fill: white;
}