/*
Main Menu
*/
menu ul li:hover > a {
    color: #733041; /*Foreground color of menu on hover*/
    background-color: transparent;
}
#website-title, .main-color {
    background-color: #733041;
}
.hover:hover {
    background-color: #FBFCFA;
}
#content {
    background-image: url(/images/projects/art/sketches/notes.jpg);
}

/*
Highlight Color
*/
/* Safari */
::selection {
    background: #733041;
    color: #FBFCFA;
}
/* Firefox */
::-moz-selection {
    background: #733041;
    color: #FBFCFA;
}

hr {
    border-top: 3px solid #733041;
}

/*
Text Links
*/
main :not(h2) > a {
    color: #733041;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
/* unvisited link */
main :not(h2) > a:link {
    color: #733041;
}
/* visited link */
main :not(h2) > a:visited {
    color: #733041;
}
main :not(h2) > a:hover {
    color: #8CDC7B;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

h1 a {
    color: #733041;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
h1 a:link {
    color: black;
}
h1 a:visited {
    color: black;
}
h1 a:hover {
    color: #733041;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

#logo-color {
    fill: black;
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;
}
h1:hover #logo-color {
    fill: #733041;
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;
}

.anchor {
    color: #733041 !important;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.anchor:hover {
    color: #8CDC7B !important;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}