/*
Main Menu
*/
menu ul li:hover > a {
    color: #71C152; /*Foreground color of menu on hover*/
}
menu ul, .main-color {
    background-color: #71C152;
}
.hover:hover {
    background-color: white;
}

/*
Highlight Color
*/
/* Safari */
::selection {
    background: #71C152;
    color: white;
}
/* Firefox */
::-moz-selection {
    background: #71C152;
    color: white;
}

hr {
    border-top: 3px solid #71C152;
}

/*
Text Links
*/
main :not(h2) > a {
    color: #71C152;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
/* unvisited link */
main :not(h2) > a:link {
    color: #71C152;
}
/* visited link */
main :not(h2) > a:visited {
    color: #71C152;
}
main :not(h2) > a:hover {
    color: #8CDC7B;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

h1 a {
    color: #71C152;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
h1 a:link {
    color: black;
}
h1 a:visited {
    color: black;
}
h1 a:hover {
    color: #71C152;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

#logo-color {
    fill: black;
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;
}
h1:hover #logo-color {
    fill: #71C152;
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;
}

.anchor {
    color: #71C152 !important;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.anchor:hover {
    color: #8CDC7B !important;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}