/* THEMED ELEMENTS ------------------------------------------------------------------ */

menu, /* The color (plus gradient) of the navigation element */
.hover:hover, /* We want hovered tabs to be pure purple */
.active, /* We want active tabs to be pure purple */
hr { /* Dividers take the color as well */
    background-color: #973D8E;
}

hr {
    background: #973D8E; /* Old browsers */
    background: -moz-linear-gradient(left,  #FFFFFF 0%, #973D8E 25%, #973D8E 50%, #973D8E 75%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFFFF), color-stop(25%,#973D8E), color-stop(50%,#973D8E), color-stop(75%,#973D8E), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #FFFFFF 0%,#973D8E 25%,#973D8E 50%,#973D8E 75%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #FFFFFF 0%,#973D8E 25%,#973D8E 50%,#973D8E 75%,#FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #FFFFFF 0%,#973D8E 25%,#973D8E 50%,#973D8E 75%,#FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to right,  #FFFFFF 0%,#973D8E 25%,#973D8E 50%,#973D8E 75%,#FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-9 */
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
    background: #973D8E;
    color: white;
}
::-moz-selection { /* Firefox */
    background: #973D8E;
    color: white;
}

/* LINKS ------------------------------------------------------------------ */

main a, /* Link */
main a:link, /* Unvisited link */
main a:visited, /* Visited link */
.anchor {
    color: #973D8E;
}
main a:hover,
.anchor:hover {
    color: #ED76E1;
}

h1 a, /* Link */
h1 a:link, /* Unvisited link */
h1 a:visited { /* Visited link */
    color: #333333;
}
h1 a:hover {
    color: #973D8E;
}