/*
Main Menu
*/
menu ul li:hover > a {
    color: #979797; /*Foreground color of menu on hover*/
}
#website-title, .main-color {
    background-color: #F68048;
    animation: rgb 60s infinite;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}
@keyframes rgb {
    0% {
        background-color: #F68048;
    }
    20% {
        background-color: #EEBC4E;
    }
    40% {
        background-color: #71C152;
    }
    60% {
        background-color: #0AA0D2;
    }
    80% {
        background-color: #973D8E;
    }
    100% {
        background-color: #E13646;
    }
}
.hover:hover {
    background-color: white;
}

.active a {
    background-color: white;
    color: #979797;
}

/*
Highlight Color
*/
/* Safari */
::selection {
    background: #979797;
    color: white;
}
/* Firefox */
::-moz-selection {
    background: #979797;
    color: white;
}

/*
Text Links
*/
main :not(h2) > a {
    color: #979797;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
/* unvisited link */
main :not(h2) > a:link {
    color: #979797;
}
/* visited link */
main :not(h2) > a:visited {
    color: #979797;
}
main :not(h2) > a:hover {
    color: #333333;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

a > h2, h1 a {
    color: #979797;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
a > h2:link, h1 a:link {
    color: black;
}
a > h2:visited, h1 a:visited {
    color: black;
}
a > h2:hover, h1 a:hover {
    color: #979797;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

#logo-color {
    fill: black;
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;
}
h1:hover #logo-color {
    fill: #979797;
    -webkit-transition: fill .2s ease;
    transition: fill .2s ease;
}

.anchor {
    color: #333333 !important;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.anchor:hover {
    color: #979797 !important;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}