/* THEMED ELEMENTS ------------------------------------------------------------------ */

menu, /* The color (plus gradient) of the navigation element */
.hover:hover:not(.active), /* We want hovered tabs to be pure green */
hr, /* Dividers take the color as well */
a .link-button:hover { /* Any iOS 7+ styled link buttons */
    background-color: rgb(76, 217, 100);
}
.active a {
    color: rgb(76, 217, 100);
}
hr {
    background: rgb(76, 217, 100); /* Old browsers */
    background: -moz-linear-gradient(left,  #FFFFFF 0%, rgb(76, 217, 100) 25%, rgb(76, 217, 100) 50%, rgb(76, 217, 100) 75%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFFFF), color-stop(25%,rgb(76, 217, 100)), color-stop(50%,rgb(76, 217, 100)), color-stop(75%,rgb(76, 217, 100)), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #FFFFFF 0%,rgb(76, 217, 100) 25%,rgb(76, 217, 100) 50%,rgb(76, 217, 100) 75%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #FFFFFF 0%,rgb(76, 217, 100) 25%,rgb(76, 217, 100) 50%,rgb(76, 217, 100) 75%,#FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #FFFFFF 0%,rgb(76, 217, 100) 25%,rgb(76, 217, 100) 50%,rgb(76, 217, 100) 75%,#FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to right,  #FFFFFF 0%,rgb(76, 217, 100) 25%,rgb(76, 217, 100) 50%,rgb(76, 217, 100) 75%,#FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-9 */
}

input:focus, textarea:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 217, 100, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 217, 100, 0.6);
    border-color: rgb(76, 217, 100);
}

button {
    background-color: rgb(76, 217, 100);
}
button:hover {
    background-color: rgb(62, 179, 82);
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
    background: rgb(76, 217, 100);
    color: white;
}
::-moz-selection { /* Firefox */
    background: rgb(76, 217, 100);
    color: white;
}

/* LINKS ------------------------------------------------------------------ */

main a, /* Link */
main a:link, /* Unvisited link */
main a:visited, /* Visited link */
.anchor {
    color: rgb(76, 217, 100);
}
.link-button {
    border-color: rgb(76, 217, 100);
}

svg:hover .fill-color {
    fill: rgb(76, 217, 100);
}

h1 a, /* Link */
h1 a:link, /* Unvisited link */
h1 a:visited { /* Visited link */
    color: #333333;
}
h1 a:hover {
    color: rgb(76, 217, 100);
}