/* DYNAMIC RAINBOW ELEMENTS ------------------------------------------------------------------ */

menu {
    background-color: #F68048;
    -webkit-animation: rgb 90s infinite;
       -moz-animation: rgb 90s infinite;
        -ms-animation: rgb 90s infinite;
         -o-animation: rgb 90s infinite;
            animation: rgb 90s infinite;
}
@-moz-keyframes rgb {
    0% {
        background-color: #F68048;
    }
    10% {
        background-color: #EEBC4E;
    }
    30% {
        background-color: #71C152;
    }
    50% {
        background-color: #0AA0D2;
    }
    70% {
        background-color: #973D8E;
    }
    90% {
        background-color: #E13646;
    }
    100% {
        background-color: #F68048;
    }
}

@-webkit-keyframes rgb {
    0% {
        background-color: #F68048;
    }
    10% {
        background-color: #EEBC4E;
    }
    30% {
        background-color: #71C152;
    }
    50% {
        background-color: #0AA0D2;
    }
    70% {
        background-color: #973D8E;
    }
    90% {
        background-color: #E13646;
    }
    100% {
        background-color: #F68048;
    }
}
@-o-keyframes rgb {
    0% {
        background-color: #F68048;
    }
    10% {
        background-color: #EEBC4E;
    }
    30% {
        background-color: #71C152;
    }
    50% {
        background-color: #0AA0D2;
    }
    70% {
        background-color: #973D8E;
    }
    90% {
        background-color: #E13646;
    }
    100% {
        background-color: #F68048;
    }
}
@keyframes rgb {
    0% {
        background-color: #F68048;
    }
    10% {
        background-color: #EEBC4E;
    }
    30% {
        background-color: #71C152;
    }
    50% {
        background-color: #0AA0D2;
    }
    70% {
        background-color: #973D8E;
    }
    90% {
        background-color: #E13646;
    }
    100% {
        background-color: #F68048;
    }
}

/* STATICALLY COLORED ELEMENTS ------------------------------------------------------------------ */

hr { /* Dividers take the color as well */
    background-color: #979797;
}
.hover:hover, .active {
    background-color: rgba(230,230,230,0.2);
}

hr {
    background: #979797; /* Old browsers */
    background: -moz-linear-gradient(left,  #FFFFFF 0%, #979797 25%, #979797 50%, #979797 75%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFFFF), color-stop(25%,#979797), color-stop(50%,#979797), color-stop(75%,#979797), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #FFFFFF 0%,#979797 25%,#979797 50%,#979797 75%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #FFFFFF 0%,#979797 25%,#979797 50%,#979797 75%,#FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #FFFFFF 0%,#979797 25%,#979797 50%,#979797 75%,#FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to right,  #FFFFFF 0%,#979797 25%,#979797 50%,#979797 75%,#FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-9 */
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
    background: #979797;
    color: white;
}
::-moz-selection { /* Firefox */
    background: #979797;
    color: white;
}

/* LINKS ------------------------------------------------------------------ */

main a, /* Link */
main a:link, /* Unvisited link */
main a:visited, /* Visited link */
.anchor {
    color: #979797;
}
main a:hover,
.anchor:hover {
    color: #707070;
}

h1 a, /* Link */
h1 a:link, /* Unvisited link */
h1 a:visited { /* Visited link */
    color: #707070;
}
h1 a:hover {
    color: #979797;
}