#mc_embed_signup_scroll {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    margin-left:-5px;
    max-width: 300px;
    background-color: white;
    position: relative;
}

#mc_embed_signup {
	width: 100%;
	max-width: 300px;
}

#mce-EMAIL:focus {
    border-color: #0BDDF8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(10, 160, 210, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(10, 160, 210, 0.6);
}

#mce-EMAIL {
    width: 100%;
    border: 1px solid #C7C7C7;
    margin-bottom: 20px;
    padding: 4px;

    text-align: center;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#mc-embedded-subscribe {
    width: 103.48%;
    color: white;
    border: none;
    margin-bottom: 0px;
    background-color: #545760;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;

    /*text-align: center;*/
    margin-right:-10px;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#mc-embedded-subscribe:hover {
    background-color: #0AA0D2;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

/* Remove box shadow firefox, chrome and opera put around required fields. */
#mce-EMAIL:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}