.active,
.hover:hover:not(.active),
main a,
main a:link,
main a:visited,
.anchor,
#blog-footer-buttons a,
#social-buttons a,
#settings-toggle:hover {
	color: #007AFF;
}
#submenu {
	background-color: hsla(211, 100%, 90%, 0.75);
}
.block-list a:hover h3,
#dark.block-list a:hover h3 {
	color: #007AFF !important
}
.anchor:hover,
main a:hover,
#blog-footer-buttons a:hover,
#social-buttons a:hover {
	color: #0063CE;
}
.anchor:hover,
main a:not(.link-button):hover,
menu a:hover, menu a.light-hover,
.hover:hover:not(.active),
#submenu {
	background-color: rgba(0, 122, 255, 0.1);
}
#darkmain a:not(.link-button):hover,
#darkmenu a:hover, #darkmenu a.light-hover,
#dark.anchor:hover,
#dark.hover:hover:not(.active),
#dark#submenu {
	background-color: rgba(0, 122, 255, 0.25);
}
h1 a:hover {
	color: #007AFF !important;
}
a .fill-color {
	fill: #007AFF;
}
button.bigfoot-footnote__button {
	background-color: #007AFF;
}
	button.bigfoot-footnote__button:after {
		color: #007AFF;
	}
	button.bigfoot-footnote__button {
		background-color: rgba(0, 122, 255, 0.25) !important;
	}
button.bigfoot-footnote__button:hover {
	background-color: #0063CE;
}
	button.bigfoot-footnote__button:hover,
	button.bigfoot-footnote__button:hover,
	button.bigfoot-footnote__button:focus {
		background-color: #007AFF !important;
	}
	button.bigfoot-footnote__button:active,
	button.bigfoot-footnote__button.is-active {
		background-color: #0063CE !important;
	}
button:not(.bigfoot-footnote__button),
.link-button {
	background-color: #007AFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6db2ff), color-stop(100%, #007AFF));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #6db2ff 0, #007AFF 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, #6db2ff 0, #007AFF 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, #6db2ff 0, #007AFF 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, #6db2ff 0, #007AFF 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, #6db2ff 0, #007AFF 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#6db2ff', endColorstr='#007AFF', GradientType=0);
	/* IE6-9 */
	border: 1px solid #489fff;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(0, 122, 255, 0.2);
}
	button:not(.bigfoot-footnote__button):active,
	.link-button:active {
		background-color: #007AFF;
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(0, 122, 255, 0.1);
	}
input:focus,
textarea:focus {
	border-color: #007AFF !important;
}
a:hover .fill-color {
	fill: #0063CE !important;
}
#dark.hover:hover:not(.active) {
	color: #007AFF;
}
#logo:hover .signature-color {
	fill: #007AFF !important;
}
a .fill-color {
	fill: #007AFF;
}
#dark.active {
	background-color: unset;
	color: #007AFF;
}
/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: #007AFF;
	color: white;
}
::-moz-selection { /* Firefox */
	background: #007AFF;
	color: white;
}