/**
 * Hex: #4CD964
 * RGB: rgb(76, 217, 100);
 * HSL: hsl(130, 65%, 57%);
 */
a,
#mainmenu .active,
#mainmenu a:hover,
#settings-toggle:hover,
#settings-toggle.active,
#submenu a:hover,
.header a:hover,
a:hover .header {
	color: hsl(130, 65%, 57%);
}
#logo:hover .signature-color {
	fill: hsl(130, 65%, 57%);
}
.backdrop {
	background-color: hsl(130, 65%, 57%);
}

a:hover,
#submenu {
	background-color: hsla(130, 65%, 57%, 0.1);
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: hsla(130, 65%, 57%, 0.99);
	color: white;
}
::-moz-selection { /* Firefox */
	background: hsla(130, 65%, 57%, 0.99);
	color: white;
}

button,
.button {
	background-color: hsl(130, 65%, 57%);
	box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.1875), 0 0.43em 0.87em -0.2em hsla(130, 65%, 57%, 0.2);
}
	 button:hover,
	 .button:hover {
		background-color: hsl(130, 65%, 47%);
		box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.1875), 0 0.43em 0.87em -0.2em hsla(130, 65%, 47%, 0.2);
	}
	 button:active,
	 .button:active {
		background-color: hsl(130, 65%, 47%);
		box-shadow: inset 0 .65em 1.3em rgba(0, 0, 0, 0.0625), 0 0.43em 0.87em -0.2em hsla(130, 65%, 47%, 0.2);
	}
button.bigfoot-footnote__button {
	background-color: hsla(130, 65%, 57%, 0.1);
	box-shadow: none;
}
	 button.bigfoot-footnote__button:after {
		color: hsl(130, 65%, 57%) !important;
	}
	 button.bigfoot-footnote__button:hover {
		background-color: hsl(130, 65%, 57%) !important;
		box-shadow: 0 0.43em 0.87em -0.2em hsla(130, 65%, 57%, 0.2);
	}
	 button.bigfoot-footnote__button:active,
	 button.bigfoot-footnote__button.is-active {
		background-color: hsl(130, 65%, 47%) !important;
		box-shadow: 0 0.43em 0.87em -0.2em hsla(130, 65%, 47%, 0.2);
	}

input:focus,
textarea:focus {
	border-color: hsl(130, 65%, 57%) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0.43em 0.87em -0.2em hsla(130, 65%, 57%, 0.2) !important;
}

.codehilite,
.highlight {
	background-color: rgb(34, 36, 34);
}

#dark .header a:hover,
#dark a:hover .header {
	color: hsl(130, 65%, 57%);
}
#dark a:hover,
#dark #submenu,
#dark button.bigfoot-footnote__button {
	background-color: hsla(130, 65%, 57%, 0.15);
}

/* Highlights (must be seperate, combining them breaks the style) */
#dark ::selection { /* Safari */
	background: hsla(130, 65%, 57%, 0.85);
}
#dark ::-moz-selection { /* Firefox */
	background: hsla(130, 65%, 57%, 0.85);
}