.active,
.hover:hover:not(.active),
main a,
main a:link,
main a:visited,
.anchor,
#blog-footer-buttons a,
#social-buttons a,
#settings-toggle:hover {
	color: #4CD964;
}
.block-list a:hover h3,
#dark.block-list a:hover h3 {
	color: #4CD964 !important
}
.anchor:hover,
main a:hover,
#blog-footer-buttons a:hover {
	color: #3EB352;
}
.anchor:hover,
main a:not(.link-button):hover,
menu a:hover, menu a.light-hover,
.hover:hover:not(.active),
#submenu {
	background-color: rgba(76, 217, 100, 0.1);
}
#darkmain a:not(.link-button):hover,
#darkmenu a:hover, #darkmenu a.light-hover,
#dark.anchor:hover,
#dark.hover:hover:not(.active),
#dark#submenu {
	background-color: rgba(76, 217, 100, 0.25);
}
h1 a:hover {
	color: #4CD964 !important;
}
a .fill-color {
	fill: #4CD964;
}
button.bigfoot-footnote__button {
	background-color: #4CD964;
}
	button.bigfoot-footnote__button:after {
		color: #4CD964;
	}
	button.bigfoot-footnote__button {
		background-color: rgba(76, 217, 100, 0.25) !important;
	}
button.bigfoot-footnote__button:hover {
	background-color: #3EB352;
}
	button.bigfoot-footnote__button:hover,
	button.bigfoot-footnote__button:hover,
	button.bigfoot-footnote__button:focus {
		background-color: #4CD964 !important;
	}
	button.bigfoot-footnote__button:active,
	button.bigfoot-footnote__button.is-active {
		background-color: #3EB352 !important;
	}
button:not(.bigfoot-footnote__button),
.link-button {
	background-color: hsl(130, 100%, 35%); /* hsl(130, 65%, 57%) */
	text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
	/* Old browsers */
	background-repeat: repeat-x;
	/* Repeat the gradient */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsl(125, 100%, 45%)), color-stop(100%, hsl(130, 100%, 35%)));
	/* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, hsl(125, 100%, 45%) 0, hsl(130, 100%, 35%) 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -moz-linear-gradient(top, hsl(125, 100%, 45%) 0, hsl(130, 100%, 35%) 100%);
	/* FF3.6+ */
	background-image: -ms-linear-gradient(top, hsl(125, 100%, 45%) 0, hsl(130, 100%, 35%) 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, hsl(125, 100%, 45%) 0, hsl(130, 100%, 35%) 100%);
	/* Opera 11.10+ */
	background-image: linear-gradient(top, hsl(125, 100%, 45%) 0, hsl(130, 100%, 35%) 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='hsl(125, 100%, 45%)', endColorstr='hsl(130, 100%, 35%)', GradientType=0);
	/* IE6-9 */
	border: 1px solid hsl(125, 100%, 40%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0.43em 0.87em -0.2em rgba(76, 217, 100, 0.2);
}
	button:not(.bigfoot-footnote__button):active,
	.link-button:active {
		background-color: hsl(130, 100%, 35%);
		box-shadow: inset 0 5px 10px rgba(0, 0, 0, .125), 0 0.43em 0.87em -0.2em rgba(76, 217, 100, 0.1);
	}
input:focus,
textarea:focus {
	border-color: #4CD964 !important;
}
a:hover .fill-color {
	fill: #3EB352 !important;
}
#dark.hover:hover:not(.active) {
	color: #4CD964;
}
#logo:hover .signature-color {
	fill: #4CD964 !important;
}
a .fill-color {
	fill: #4CD964;
}
#dark.active {
	background-color: unset;
	color: #4CD964;
}
/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: #4CD964;
	color: white;
}
::-moz-selection { /* Firefox */
	background: #4CD964;
	color: white;
}