.active,
.hover:hover:not(.active),
main a,
main a:link,
main a:visited,
.anchor,
#blog-footer-buttons a,
#social-buttons a {
	color: #FF8100;
}
.anchor:hover,
main a:hover,
#blog-footer-buttons a:hover,
#social-buttons a:hover {
	color: #EB7802;
}

h1 a:hover {
	color: #FF8100 !important;
}

#dark-mode-toggle:hover .fill-color,
a .fill-color {
	fill: #FF8100;
}
#dark-mode-toggle:hover .stroke-color {
	stroke: #FF8100;
}

button,
.link-button {
	background-color: #FF8100;
}
button:hover,
.link-button:hover {
	background-color: #EB7802;
}
input:focus,
textarea:focus {
	border-color: #FF8100;
}
a:hover .fill-color {
	fill: #EB7802 !important;
}

#dark .hover:hover:not(.active),
#dark #dark-mode-toggle:hover {
	background-color: unset;
	color: #FF8100;
}
#dark #dark-mode-toggle:hover .fill-color,
a .fill-color {
	fill: #FF8100 !important;
}
#dark #dark-mode-toggle:hover .stroke-color {
	stroke: #FF8100 !important;
}
#dark .active {
	background-color: unset;
	color: #FF8100;
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: #FF8100;
	color: white;
}
::-moz-selection { /* Firefox */
	background: #FF8100;
	color: white;
}