 .active,
.hover:hover:not(.active),
main a,
main a:link,
main a:visited,
.anchor,
#settings-toggle:hover {
	color: #FFCC00;
}
.block-list a:hover h3,
#dark .block-list a:hover h3 {
	color: #FFCC00 !important
}
.anchor:hover,
main a:hover {
	color: hsl(48, 100%, 40%);
}
#dark .anchor:hover,
#dark main a:hover {
	color: hsl(48, 100%, 60%);
}
.anchor:hover,
main a:not(.link-button):hover,
menu a:hover,  menu a.light-hover,
.hover:hover:not(.active),
#submenu {
	background-color: rgba(255, 204, 0, 0.15);
}
#dark main a:not(.link-button):hover,
#dark menu a:hover, #dark menu a.light-hover,
#dark .anchor:hover,
#dark .hover:hover:not(.active),
#dark #submenu {
	background-color: rgba(255, 204, 0, 0.1);
}
h1 a:hover {
	color: #FFCC00 !important;
}
a .fill-color {
	fill: #FFCC00;
}
button.bigfoot-footnote__button {
	background-color: #FFCC00;
}
	 button.bigfoot-footnote__button:after {
		color: hsl(48, 100%, 40%);
	}
	#dark button.bigfoot-footnote__button:after {
		color: hsl(48, 100%, 57%);
	}
	 button.bigfoot-footnote__button {
		background-color: rgba(255, 204, 0, 0.15);
	}
	#dark button.bigfoot-footnote__button {
		background-color: rgba(255, 204, 0, 0.1);
	}
button.bigfoot-footnote__button:hover {
	background-color: hsl(48, 100%, 40%);
}
	 button.bigfoot-footnote__button:hover,
	 button.bigfoot-footnote__button:hover,
	 button.bigfoot-footnote__button:focus {
		background-color: #FFCC00 !important;
	}
	 button.bigfoot-footnote__button:active,
	 button.bigfoot-footnote__button.is-active {
		background-color: hsl(48, 100%, 40%) !important;
	}
button:not(.bigfoot-footnote__button),
.link-button {
	background-color: hsl(48, 100%, 48%);
	box-shadow: inset 0 .65em 1.3em rgba(255, 255, 255, 0.25), 0 0.43em 0.87em -0.2em rgba(255, 204, 0, 0.2);
}
	 button:not(.bigfoot-footnote__button):hover,
	 .link-button:hover {
		background-color: hsl(48, 100%, 45%);
	}
	 button:not(.bigfoot-footnote__button):active,
	 .link-button:active {
		background-color: hsl(48, 100%, 45%);
		box-shadow: inset 0 .65em 1.3em rgba(0, 0, 0, 0.0625), 0 0.43em 0.87em -0.2em rgba(255, 204, 0, 0.2);
	}
input:focus,
textarea:focus {
	border-color: #FFCC00 !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0.43em 0.87em -0.2em rgba(255, 204, 0, 0.2) !important;
}
a:hover .fill-color {
	fill: hsl(48, 100%, 40%) !important;
}
#dark .hover:hover:not(.active) {
	color: #FFCC00;
}
#logo:hover .signature-color {
	fill: #FFCC00 !important;
}
a .fill-color {
	fill: #FFCC00;
}
#dark .active {
	background-color: unset;
	color: #FFCC00;
}
/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: rgba(255, 204, 0, 0.99);
	color: white;
}
::-moz-selection { /* Firefox */
	background: rgba(255, 204, 0, 0.99);
	color: white;
}
#dark ::selection { /* Safari */
	background: rgba(255, 204, 0, 0.85);
}
#dark ::-moz-selection { /* Firefox */
	background: rgba(255, 204, 0, 0.85);
}
.backdrop {
	background-color: #FFCC00;
}
menu {
	background-color: rgba(255, 255, 252, 0.95);
}
#dark menu {
	background-color: rgba(28, 27, 23, 0.95);
}
.safari menu {
	background-color: rgba(255, 255, 252, 0.7);
}
#dark.safari menu {
	background-color: rgba(28, 27, 23, 0.7);
}
[data-hint]:after,
.card,
.bigfoot-footnote__content,
.bigfoot-footnote__wrapper,
.bigfoot-footnote__tooltip,
.bigfoot-footnote {
	background-color: rgb(249, 249, 246);
}
.popup {
	background-color: rgb(249, 249, 246, 0.95);
}
.safari .popup {
	background-color: rgb(249, 249, 246, 0.9);
}
#dark [data-hint]:after,
#dark .card,
#dark .bigfoot-footnote__content,
#dark .bigfoot-footnote__wrapper,
#dark .bigfoot-footnote__tooltip,
#dark .bigfoot-footnote {
	background-color: rgb(65, 64, 60);
}
#dark .popup {
	background-color: rgba(65, 64, 60, 0.95);
}
#dark.safari .popup {
	background-color: rgba(65, 64, 60, 0.9);
}
hr {
	background-color: rgb(240, 240, 240);
	background: rgb(240, 240, 240); /* Old browsers */
	background: -moz-linear-gradient(left,  #FFFFFD 0%, rgb(240, 240, 240) 25%, rgb(240, 240, 240) 50%, rgb(240, 240, 240) 75%, #FFFFFD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFFFD), color-stop(25%,rgb(240, 240, 240)), color-stop(50%,rgb(240, 240, 240)), color-stop(75%,rgb(240, 240, 240)), color-stop(100%,#FFFFFD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #FFFFFD 0%, rgb(240, 240, 240) 25%, rgb(240, 240, 240) 50%, rgb(240, 240, 240) 75%, #FFFFFD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #FFFFFD 0%, rgb(240, 240, 240) 25%, rgb(240, 240, 240) 50%, rgb(240, 240, 240) 75%, #FFFFFD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #FFFFFD 0%, rgb(240, 240, 240) 25%, rgb(240, 240, 240) 50%, rgb(240, 240, 240) 75%, #FFFFFD 100%); /* IE10+ */
	background: linear-gradient(to right, #FFFFFD 0%, rgb(240, 240, 240) 25%, rgb(240, 240, 240) 50%, rgb(240, 240, 240) 75%, #FFFFFD 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFD', endColorstr='#FFFFFD',GradientType=1 ); /* IE6-9 */
}
#dark hr {
	background-color: #5A5B56;
	background: #5A5B56;
	background: -moz-linear-gradient(left, #292824 0%, #5A5B56 25%, #5A5B56 50%, #5A5B56 75%, #292824 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #292824), color-stop(25%, #5A5B56), color-stop(50%, #5A5B56), color-stop(75%, #5A5B56), color-stop(100%, #292824));
	background: -webkit-linear-gradient(left, #292824 0%, #5A5B56 25%, #5A5B56 50%, #5A5B56 75%, #292824 100%);
	background: -o-linear-gradient(left, #292824 0%, #5A5B56 25%, #5A5B56 50%, #5A5B56 75%, #292824 100%);
	background: -ms-linear-gradient(left, #292824 0%, #5A5B56 25%, #5A5B56 50%, #5A5B56 75%, #292824 100%);
	background: linear-gradient(to right, #292824 0%, #5A5B56 25%, #5A5B56 50%, #5A5B56 75%, #292824 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#292824', endColorstr='#292824', GradientType=1 );
}