---
layout: default
error: true

title: "No Page Found"
---

<style>
    #content {
        height: 100vh;
    }
</style>
<h1>Page Not Found</h1>
<p>I can’t seem to find anything for your request, apologies! If you believe something should be here, please <a href="/contact">reach out</a> and I’ll fix it as soon as possible.</p>
<p>To pass the time until then, please consider my recent articles below.</p>
<ul class="summary-list" style="margin-left: 0.75rem;">
{% assign numberOfLinksAdded = 0 %}
{% for post in site.posts %}
{% if post.type != "article" %}
{% continue %}
{% endif %}
{% assign numberOfLinksAdded = numberOfLinksAdded | plus: 1 %}
{% if numberOfLinksAdded > 3 %}
{% break %}
{% endif %}
<li>
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h3 class="header">
            {% if post.link == null %}
            <time itemprop="dateCreated">{{ post.date | date: "%B %-d, %Y" }}</time>
            {{ post.title }}
            {% endif %}
        </h3>
        <p>
            {{ post.excerpt }}
        </p>
    </a>
</li>
{% endfor %}
</ul>


{% for post in site.posts %}
    
{% endfor %}
