title: Barrowclift
author: Marc Barrowclift
email: marc@barrowclift.me
twitter_username: barrowclift
github_username:  barrowclift
description: Where humanity and computing meet
baseurl: "" # The subpath of your site, e.g. /blog/
dropbox: "https://dropbox.barrowclift.me/assets"
url: https://barrowclift.me # The base hostname & protocol for your site
host: localhost

permalink: /post/:title # Permalink posts sorted by date with directories is awful.
paginate_path: articles/:num # Home older/previous pages go here
paginate: 5 # Number of posts to be shown on each each paginated page.

markdown: kramdown
highlighter: rouge
show_drafts: False
future: False

timezone: America/New_York
locale: en-US

kramdown:
  footnote_backlink: "&#x21A9;&#xFE0E;"

defaults:
  - # POST SPECIFIC VARIABLES
    scope:
      path: "" # empty string for all files
      type: posts # limit to posts
    values:
      viewing_single_page: true # *NOT* Being viewed from home, a specific article page
      has_afterward: false
      image: # assume a default post doesn't have an image, /images/assets/${image}
      type: article # assume the post type is an article unless told otherwise
  - # SITE-WIDE VARIABLES
    scope:
      path: "" # all files
    values:
      anchors: true # We want sections to be anchorable by default for everything
      next-page: # Overriden if a given file is paginated

plugins:
  - jemoji
  - jekyll-paginate
  - jekyll-feed
