title: Barrowclift
email: "&#109;&#097;&#114;&#099;&#064;&#098;&#097;&#114;&#114;&#111;&#119;&#099;&#108;&#105;&#102;&#116;&#046;&#109;&#101;"
twitter_username: barrowclift
github_username:  barrowclift
description: Where humanity and computing meet
baseurl: "" # The subpath of your site, e.g. /blog/
url: "http://barrowclift.me" # The base hostname & protocol for your site
host: localhost

permalink: /post/:title # Permalink posts sorted by date with directories is awful.
paginate_path: "page/:num" # Home older/previous pages go here
paginate: 5 # Number of posts to be shown on each each paginated page.

markdown: kramdown
highlighter: rouge
show_drafts: False
future: False

timezone: America/New_York

kramdown:
  footnote_backlink: "&#x21A9;&#xFE0E;"

defaults:
  - # POST SPECIFIC VARIABLES
    scope:
      path: "" # empty string for all files
      type: "posts" # limit to posts
    values:
      viewing-single-page: true # *NOT* Being viewed from home, a specific article page
      share-image:  # assume a default post doesn't have an image, /images/assets/${share-image}
  - # SITE-WIDE VARIABLES
    scope:
      path: "" # all files
    values:
      anchors: true # We want sections to be anchorable by default for everything

gems:
  - jemoji
  - jekyll-paginate