---
layout: default
anchors: false
home-menu-active: true
---

{% assign count=0 %}
{% for post in paginator.posts %}
	{% if count > 0 %}
	<hr class="main-color" />
	{% endif %}

	<article>
		<header role="header">
			{% if post.link %}
			<!-- <h2><a href="{{ post.link }}">{{ post.title }} <span class="link-arrow">➤</span></a></h2> -->
			<h2>
				<a href="{{ post.link }}">{{ post.title }} ↦</a>
			</h2>
			<time itemprop="dateCreated">{{ post.date | date: "%A, %B %-d, %Y" }}
				<span>
					<a href="{{ post.url | prepend: site.baseurl }}">∞</a>
				</span>
			</time>
			{% else %}
			<h2>
				<a title="Permalink for &quot;{{ post.title }}&quot;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<time itemprop="dateCreated">{{ post.date | date: "%A, %B %-d, %Y" }}</time>
			{% endif %}
		</header>

		{% if post.banner-image %}
		<figure>
			<p>
				{% if post.banner-link %}
				<a href="{{post.banner-link}}" {% if post.banner-hover %}title="{{post.banner-hover}}"{% endif %}>
					<img src="/images/assets/{{ post.banner-image-small }}" alt="" class="edge-to-edge" /></a>
				</a>
				{% else %}
				<img src="/images/assets/{{ post.banner-image-small }}" alt="" class="edge-to-edge" /></a>
				{% endif %}
			</p>
		</figure>
		{% endif %}

		{{ post.content }}
	</article>
	{% assign count=count | plus:1 %}
{% endfor %}

<footer class="large-top-pad large-bottom-pad">
	<div id="bottom-navigation">
		<div id="navigation-previous">
			<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
				{% if paginator.next_page %}
				&#8592; Older
				{% endif %}
			</a>
		</div>
		<div id="navigation-next">
			<a href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">
				{% if paginator.previous_page %}
				Newer &#8594;
				{% endif %}
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
			</a>
		</div>
	</div>
	{% if paginator.previous_page %}
	<div id="actions-sheet">
	{% elsif paginator.next_page %}
	<div id="actions-sheet">
	{% else %}
	<div>
	{% endif %}
		<div class="action-category">
			<h5 style="color: #979797;text-align:center;" class="action-label">Subscribe</h5>
			<a href="{{ "/newsletter" | prepend: site.baseurl }}">
				<div class="round-button" style="text-align:center;">
					<img class="button-default" src="{{ "/images/blog/newsletter.jpg" | prepend: site.baseurl }}" alt="Newsletter button" />
					<img class="button-hover" src="{{ "/images/blog/newsletter-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
			<a href="{{ "/atom.xml" | prepend: site.baseurl }}">
				<div class="round-button" style="text-align:center;">
					<img class="button-default" src="{{ "/images/blog/rss.jpg" | prepend: site.baseurl }}" alt="RSS button" />
					<img class="button-hover" src="{{ "/images/blog/rss-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
		</div>
		<div class="action-category">
			<h5 style="color: #979797;text-align:center;" class="action-label">Browse</h5>
			<a href="{{ "/archive" | prepend: site.baseurl }}">
				<div class="round-button" style="text-align:center;">
					<img class="button-default" src="{{ "/images/blog/archive.jpg" | prepend: site.baseurl }}" alt="Archive button" />
					<img class="button-hover" src="{{ "/images/blog/archive-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
		</div>
	</div>
</footer>