---
layout: default-flex
anchors: false
home-menu-active: true
---

<div class="column">
	<h2>I'm Marc Barrowclift,</h2>

	<h4>A <a href="https://github.com/barrowclift">full stack developer</a> from Philly. I <a href="https://www.xfinity.com/support/articles/x1-dvr-overview">engineer</a> reliable and sustainable services professionally and <a href="{{ site.baseurl }}/projects/">design</a> delightful products in my studio during my free time.</h4>

	<ul class="button-group left autosize">
		<li><a href="{{ site.baseurl }}/about/"><p class="button">Learn More</p></a></li>
		<li><a href="{{ site.baseurl }}/contact/"><p class="button">Contact</p></a></li>
	</ul>

	<h2>Occupation</h2>

	<h4>I'm a full-time engineer at <a href="https://my.xfinity.com">Comcast</a> maintaining the <a href="https://www.xfinity.com/support/articles/x1-dvr-overview">DVR Scheduler</a>, which dutifully services over half a billion requests daily.</h4>

	<h4>My studio is not accepting consultant work at this time.</h4>

	<ul class="button-group left autosize">
		<li><p class="button disabled">Hire</p></li>
	</ul>
</div>
<div class="column">
	<h2>Recent Work</h2>

	{% assign maxNumberOfRecentWork=3 %}
	<ul class="summary-list" style="margin-left: 0.75rem;">
	{% for post in site.posts %}
		{% if forloop.index0 >= maxNumberOfRecentWork %}
			{% break %}
		{% endif %}
		<li>
			{% if post.link %}
			<a title="Go to {{ post.link }}" href="{{ post.link }}">
			{% else %}
			<a title="Permalink for &quot;{{ post.title }}&quot;" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
			{% endif %}
				<h3 class="header">
					<time itemprop="dateCreated">{% if post.type == "article" %}<mark class="tag blue">Article</mark>{% elsif post.type == "project-update" %}<mark class="tag orange">Project</mark>{% endif %} {{ post.date | date: "%B %-d, %Y" }}</time>
					<!-- {% if forloop.index0 == 0 %}
					<img class="rounded" src="{{ post.image }}"/>
					{% endif %} -->
					{{ post.title }} {% if post.link %}↦{% endif %}
				</h3>
				<p>
					{{ post.excerpt }}
				</p>
			</a>
		</li>
	{% endfor %}
	</ul>
</div>