form {
    margin-left: -0.85rem;
}
button {
    text-align: center;
}
#social-buttons svg {
    position: relative;
    display: inline-block;
    max-width: 64px;
    max-height: 64px;
    width: 8.9vw;
    height: 8.9vw;
    padding: 0 0.9rem;
    margin: 0;
}
#social-buttons {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
svg:hover .fill-color {
    fill: rgb(76, 217, 100) !important;
}

/* Medium devices (iPads) */
@media (min-width: 700px) {
    button {
        width: 256px;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        margin-left: 0.85rem;
    }
    #social-buttons svg {
        width: 14vw;
        height: 14vw;
        padding: 0 29px;
    }
}
@media (min-width: 900px) {
	#social-buttons svg {
	    padding: 0 1.5rem;
	}
}