form {
    margin-left: -0.85rem;
}
button {
    text-align: center;
}

/* Medium devices (iPads) */
@media (min-width: 700px) {
    button {
        width: 256px;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        margin-left: 0.85rem;
    }
}