main a,
main a:link,
main a:visited,
main a:hover {
	color: #333333;
}
main a:hover {
	text-decoration: none;
}
main h1, main h2 {
	text-align: center;
}
main ul {
	margin-top: 0.5rem;
	margin-bottom: 0rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	text-align: center;
}

/* ----- CUSTOM CARDS ----- */

.card.education {
	background-color: #003A74 !important;
	background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
}
.card.education .label .primary,
.card.education .label .secondary {
	display: block;
}
.card.education .label .secondary,
.card.education .label .small {
	color: #CFCFC2;
}
.card.education .label .secondary {
	font-style: normal;
	font-weight: 500;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}
.card.education .label .primary {
	text-align: center;
	margin-top: 1.5rem;
	color: white;
}
.card.education .label .small {
	margin-top: 1rem;
	margin-bottom: 0;
	text-align: center;
	font-weight: 500;
}
.card.education img {
	width: auto;
	max-height: 11vh;
}

/* ----- IMAGES & VIDEO ----- */

.fill-color,
svg:hover .fill-color {
	fill: #979797;
}
a .fill-color {
	fill: #979797;
}
.stroke-color {
	stroke: #979797;
}
.fill-transparent {
	fill: #F9F9F9;
}
.stroke-transparent {
	stroke: #F9F9F9;
}

#ibx:hover .fill-color {
	fill: rgba(22, 138, 204, 1.00) !important;
}
#bentley:hover .fill-color {
	fill: rgba(88, 164, 42, 1.00) !important;
}
#arcweb:hover .fill-color {
	fill: rgba(10, 75, 131, 1.00) !important;
}
#arcweb .stroke-color.secondary,
#arcweb:hover .stroke-color.secondary {
	stroke: transparent !important;
}
#arcweb:hover .stroke-color {
	stroke: rgba(10, 75, 131, 1.00) !important;
}
#arcweb:hover .fill-color.secondary {
	fill: rgba(23, 132, 233, 1.00) !important;
}
#guinness-world-record:hover .fill-color {
	fill: rgba(3, 45, 76, 1.00) !important;
}
#guinness-world-record:hover .fill-color.secondary {
	fill: rgba(205, 151, 33, 1.00) !important;
}
.drexel:hover .fill-color {
	fill: rgba(9, 42, 77, 1.00) !important;
}
.drexel:hover .stroke-color {
	stroke: rgba(9, 42, 77, 1.00) !important;
}
.card .show-when-hovered,
.card:hover .hide-when-hovered {
	opacity: 0;
}
.card:hover .show-when-hovered,
.card .hide-when-hovered {
	opacity: 1;
}

/* ======================================================================================================= */

/* Medium devices (iPads) */
@media (min-width: 700px) {
	.education img {
		max-width: 350px;
	}
}

/* Large devices (iMacs) */
@media (min-width: 900px) {
	.education img {
		max-width: 390px;
	}
}