/* Smooth hover-transition buttons & Generic round button (RSS, Archive, etc.) */
.icon-button img {
    position: absolute;
    left: 0;
    top: 0;
}
.icon-button {
	position: relative;
	width: 6.3em;
	height: 6.3em;
	margin-right: 0.3em;
	margin-left: 0.3em;
	margin-bottom: 0.3em;
}
.app-button {
	width: 17.75vw;
	height: 17.75vw;
}
.folder-button {
	width: 17.75vw;
	height: 15vw;
}
div span {
	margin-bottom: 0.5rem;
}
/* 
Medium devices (iPads)
Font size: 19px, ~Margin&Padding: 28.5px
*/
@media (min-width: 700px) {
	.icon-button {
		margin: 0.85vw;
	}
	.app-button {
		width: 7.25rem;
		height: 7.25rem;
	}
	.folder-button {
		width: 7.25rem;
		height: 5.95rem;
	}
}
/* 
Large devices (Macs)
Font size: 21px, ~Margin&Padding: 31.5px
*/
@media (min-width: 900px) {
	.icon-button {
		margin: 0;
	}
	div span {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.app-button {
		width: 8.25rem;
		height: 8.25rem;
	}
	.folder-button {
		width: 8.25rem;
		height: 7.95rem;
	}
}