form {
    margin-left: -0.9rem;
    max-width: 320px;
}
input, button {
    text-align: center;
}

/* Medium devices (iPads) */
@media (min-width: 700px) {
    button {
        width: 324px;
    }
}
/* Large devices (Macs) */
@media (min-width: 900px) {
    button {
        width: 325px;
    }
}