.project {
	display:inline-block;
	vertical-align:top;
	text-align:left;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1.5em;
}
.project-icon-image {
	max-width: 150px;
	max-height: 150px;
	width: 39vw;
	height: 39vw;
	padding:0;
	text-align: center;
	margin: 0 auto;
}
.project-icon-text, .project-icon-text h5, .project-icon-text time {
	max-width: 150px;
	width: 39vw;
	text-align: center;
}
h5 {
	font-weight: 500;
	line-height: 1.2em;
}
time {
	margin-top: 0.5em;
}
.project-icon-text {
	margin-top: 1.2em;
}
main :not(h2) a {
    color: black;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
/* unvisited link */
main :not(h2) a:link {
    color: black;
}
/* visited link */
main :not(h2) a:visited {
    color: black;
}
main :not(h2) > a:hover {
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
main :not(h2) > .orange:hover {
	color: #F68048;
}
main :not(h2) > .bmh:hover {
	color: #840300;
}
main :not(h2) > .purple:hover {
	color: #973D8E;
}
main :not(h2) > .red:hover {
	color: #D23141;
}
@media (min-width: 43.75rem) {
	.project {
		margin-left: 3px;
		margin-right: 3px;
	}
	.project-icon-image {
		max-width: 180px;
		max-height: 180px;
	}
	.project-icon-text, .project-icon-text h5, .project-icon-text time {
		max-width: 207px;
	}
}
@media (min-width: 56.25em) {
	.project {
		margin-left: 8px;
		margin-right: 8px;
	}
	.project-icon-image {
		max-width: 210px;
		max-height: 210px;
	}
	.project-icon-text, .project-icon-text h5, .project-icon-text time {
		max-width: 235px;
	}
}