.project {
    max-height: 275px;
    max-width: 564px;
    height: 100%;
    width: 90%;
    border-radius: 4px;
    display: inline-block;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    
    -webkit-transition: -webkit-box-shadow 0.25s ease 0s; 
    -moz-transition: -moz-box-shadow 0.25s ease 0s; 
    -o-transition: -o-box-shadow 0.25s ease 0s; 
    transition: box-shadow 0.25s ease 0s;

    margin: 0.75rem;
}
.project:hover {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
}
main a:hover {
    text-decoration: none;
}

/* Medium devices (iPads) */
@media (min-width: 700px) {
    .project {
        width: 43.49vw;
        height: 21.205230496vw;
    }
}
/* Large devices (Macs) */
@media (min-width: 900px) {
    .project {
        width: 44vw;
        height: 21.453900709vw;
    }
}