.news-logo {
    height: 4.9vw;
    max-height: 22px;
    margin: 1rem 1vw;
}
.gallery-image,
.section a {
    display: inline-block;
}
.gallery-image {
    width: 45vw;
    margin: 0.5em 0.25em;
}
.gallery-image,
#gallery video {
    border-radius: 4px;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);

    -webkit-transition: -webkit-box-shadow 0.25s ease 0s; 
    -moz-transition: -moz-box-shadow 0.25s ease 0s; 
    -o-transition: -o-box-shadow 0.25s ease 0s; 
    transition: box-shadow 0.25s ease 0s;
}
.gallery-image:hover,
#gallery video:hover {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
}
.section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.slice h2 {
    text-align: center;
    color: #666666;
    margin-bottom: 0.5em;
}

/* 
Medium devices (iPads)
Font size: 19px, ~Margin&Padding: 28.5px
*/
@media (min-width: 700px) {
    .gallery-image {
        margin: 0.75em 0.5em;
    }
    .news-logo {
        max-height: 32px;
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
}
/* 
Large devices (Macs)
Font size: 21px, ~Margin&Padding: 31.5px
*/
@media (min-width: 900px) {
    .gallery-image {
        width: 30vw;
        max-width: 506px;
        margin: 0.75rem 0.5rem;
    }
    .news-logo {
        min-height: 35px;
        margin-right: 1.125rem;
        margin-left: 1.125rem;
    }
    .section {
        padding-left: 5vw;
        padding-right: 5vw;
        max-width: 50rem;
        text-align: center;
        margin: auto;
    }
}