<article>
	{% if page.hero-banner or page.light-hero-banner or page.dark-hero-banner %}
		{% if page.hero-banner %}
		<div class="edge-to-edge hero-banner">
		<picture>
		  <source srcset="{{ site.dropbox }}/{{ page.hero-banner }}.webp">
		  <img title="Article banner image" alt="Image of the article's banner" src="{{ site.dropbox }}/{{ page.hero-banner }}.jpg">
		</picture>
		</div>
		{% else %}
		<div class="show-when-light edge-to-edge hero-banner">
		<picture>
		  <source srcset="{{ site.dropbox }}/{{ page.light-hero-banner }}.webp">
		  <img title="Article banner image" alt="Image of the article's banner" src="{{ site.dropbox }}/{{ page.light-hero-banner }}.jpg">
		</picture>
		</div>
		<div class="show-when-dark edge-to-edge hero-banner">
		<picture>
		  <source srcset="{{ site.dropbox }}/{{ page.dark-hero-banner }}.webp">
		  <img title="Article banner image" alt="Image of the article's banner" src="{{ site.dropbox }}/{{ page.dark-hero-banner }}.jpg">
		</picture>
		</div>
		{% endif %}
	{% endif %}

	{% include article-header.html %}

	{% if page.timelocked %}
		{% comment %} convert our dates to Number of seconds since 1970-01-01 00:00:00 UTC {% endcomment %}
		{% if page.revision-date %}
			{% assign dateStart = page.revision-date | date: '%s' %}
		{% else %}
			{% assign dateStart = page.date | date: '%s' %}
		{% endif %}
		{% assign nowTimestamp = 'now' | date: '%s' %}

		{% comment %} difference in seconds {% endcomment %}
		{% assign diffSeconds = nowTimestamp | minus: dateStart %}

		{% comment %} difference in days {% endcomment %}
		{% assign daysSince = diffSeconds | divided_by: 3600 | divided_by: 24 %}
		{% if daysSince >= 365 %}
		{% assign yearsSince = daysSince | times: 1.0 | divided_by: 365 | round %}
		<div class="admonition warning">
			<p class="admonition-title">{% if yearsSince > 1 %}{{ yearsSince }} Years{% else %}1 Year{% endif %} Since Last Revision</p>
			<p>Technology moves fast! Article details are now out of date.</p>
		</div>
		{% elsif daysSince > 180 %}
		<div class="admonition update">
			<p class="admonition-title">{{ daysSince }} Days Since Last Revision</p>
			<p>Technology moves fast! Specific details likely to be out of date.</p>
		</div>
		{% endif %}
	{% endif %}

	{{ content }}

	{% if page.next-page == null and page.has_afterward == false or page.has_afterward == null %}
	<div id="article-linkback">
		<a href="/">⌘</a>
	</div>
	{% endif %}
	<script type="text/javascript">
		$(document).ready(function() {
		    if ($("article .footnotes")) {
		    	$("#article-linkback").insertBefore($("article .footnotes").prev());
		    }
		});
	</script>

	{% if page.next-page == null %}
	<footer>
		{% include blog-footer-buttons.html %}
	</footer>
	{% endif %}
</article>