<a href="{{ post.url }}">
    {% if post.card.light.background-color and post.card.dark.background-color and site.enable-card-colors %}
        <div class="card show-when-light" style="background-color:{{ post.card.light.background-color }};">
            {% if post.card.light.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.light.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.light.image }}.jpg">
                </picture>
            {% elsif post.article.light-banner-image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.article.light-banner-image }}.jpg">
            {% elsif post.image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.image }}">
            {% else %}
                <img alt="Banner image for '{{ post.title }}'" src="/images/share-banner.jpg">
            {% endif %}
            <div class="label" style="background-color:{{ post.card.light.background-color }};">
                <time datetime="{{ post.date | date_to_xmlschema }}" style="color:{{ post.card.light.foreground-color }} !important;">{{ post.date | date: "%B %-d, %Y" }}</time>
                <h4 class="primary" style="color:{{ post.card.light.foreground-color }} !important;">{{ post.title }}</h4>
                <h5 class="secondary" style="color:{{ post.card.light.foreground-color }} !important;">{{ post.excerpt }}</h5>
            </div>
        </div>
        <div class="card show-when-dark" style="background-color:{{ post.card.dark.background-color }};">
            {% if post.card.dark.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.dark.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.dark.image }}.jpg">
                </picture>
            {% elsif post.article.dark-banner-image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.article.dark-banner-image }}.jpg">
            {% elsif post.image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.image }}">
            {% else %}
                <img alt="Banner image for '{{ post.title }}'" src="/images/share-banner.jpg">
            {% endif %}
            <div class="label" style="background-color:{{ post.card.dark.background-color }};">
                <time datetime="{{ post.date | date_to_xmlschema }}" style="color:{{ post.card.dark.foreground-color }} !important;">{{ post.date | date: "%B %-d, %Y" }}</time>
                <h4 class="primary" style="color:{{ post.card.dark.foreground-color }} !important;">{{ post.title }}</h4>
                <h5 class="secondary" style="color:{{ post.card.dark.foreground-color }} !important;">{{ post.excerpt }}</h5>
            </div>
        </div>
    {% elsif post.card.background-color and site.enable-card-colors %}
        <div class="card" style="background-color:{{ post.card.background-color }};">
            {% if post.card.light.image and post.card.dark.image %}
                <picture class="show-when-light">
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.light.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.light.image }}.jpg">
                </picture>
                <picture class="show-when-dark">
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.dark.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.dark.image }}.jpg">
                </picture>
            {% elsif post.card.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.image }}.jpg">
                </picture>
            {% elsif post.image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.image }}">
            {% else %}
                <img alt="Banner image for '{{ post.title }}'" src="/images/share-banner.jpg">
            {% endif %}
            <div class="label" style="background-color:{{ post.card.background-color }};">
                <time datetime="{{ post.date | date_to_xmlschema }}" style="color:{{ post.card.foreground-color }} !important;">{{ post.date | date: "%B %-d, %Y" }}</time>
                <h4 class="primary" style="color:{{ post.card.foreground-color }} !important;">{{ post.title }}</h4>
                <h5 class="secondary" style="color:{{ post.card.foreground-color }} !important;">{{ post.excerpt }}</h5>
            </div>
        </div>
    {% elsif site.enable-card-colors %}
        <div class="card show-when-light" style="background-color:hsl(0, 0%, 93%);">
            {% if post.card.light.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.light.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.light.image }}.jpg">
                </picture>
            {% elsif post.article.light-banner-image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.article.light-banner-image }}.jpg">
            {% elsif post.card.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.image }}.jpg">
                </picture>
            {% elsif post.image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.image }}">
            {% else %}
                <img alt="Banner image for '{{ post.title }}'" src="/images/share-banner.jpg">
            {% endif %}
            <div class="label" style="background-color:hsl(0, 0%, 93%);">
                <time datetime="{{ post.date | date_to_xmlschema }}" style="color:hsl(0, 0%, 12%) !important;">{{ post.date | date: "%B %-d, %Y" }}</time>
                <h4 class="primary" style="color:hsl(0, 0%, 12%) !important;">{{ post.title }}</h4>
                <h5 class="secondary" style="color:hsl(0, 0%, 12%) !important;">{{ post.excerpt }}</h5>
            </div>
        </div>
        <div class="card show-when-dark" style="background-color:hsl(0, 0%, 16%);">
            {% if post.card.dark.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.dark.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.dark.image }}.jpg">
                </picture>
            {% elsif post.article.dark-banner-image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.article.dark-banner-image }}.jpg">
            {% elsif post.card.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.image }}.jpg">
                </picture>
            {% elsif post.image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.image }}">
            {% else %}
                <img alt="Banner image for '{{ post.title }}'" src="/images/share-banner.jpg">
            {% endif %}
            <div class="label" style="background-color:hsl(0, 0%, 16%);">
                <time datetime="{{ post.date | date_to_xmlschema }}" style="color:hsl(0, 0%, 100%) !important;">{{ post.date | date: "%B %-d, %Y" }}</time>
                <h4 class="primary" style="color:hsl(0, 0%, 100%) !important;">{{ post.title }}</h4>
                <h5 class="secondary" style="color:hsl(0, 0%, 100%) !important;">{{ post.excerpt }}</h5>
            </div>
        </div>
    {% else %}
        <div class="card">
            {% if post.card.light.image and post.card.dark.image %}
                <picture class="show-when-light">
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.light.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.light.image }}.jpg">
                </picture>
                <picture class="show-when-dark">
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.dark.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.dark.image }}.jpg">
                </picture>
            {% elsif post.card.image %}
                <picture>
                    <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.card.image }}.webp">
                    <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.card.image }}.jpg">
                </picture>
            {% elsif post.article.dark-banner-image %}
                <img alt="Banner image for '{{ post.title }}'" class="show-when-dark" src="{{ site.dropbox }}/{{ post.article.dark-banner-image }}.jpg">
                <img alt="Banner image for '{{ post.title }}'" class="show-when-light" src="{{ site.dropbox }}/{{ post.article.light-banner-image }}.jpg">
            {% elsif post.image %}
                <img alt="Banner image for '{{ post.title }}'" src="{{ site.dropbox }}/{{ post.image }}">
            {% else %}
                <img alt="Banner image for '{{ post.title }}'" src="/images/share-banner.jpg">
            {% endif %}
            <div class="label">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
                <h4 class="primary">{{ post.title }}</h4>
                <h5 class="secondary">{{ post.excerpt }}</h5>
            </div>
        </div>
    {% endif %}
</a>