<header role="header">
	{% if post %}
		<h1>
			{% if post.link %}
			<time itemprop="dateCreated">{{ page.date | date: "%A, %B %-d, %Y" }}<span class="hide-for-print">,</span> <a href="Permalink for &quot;{{ post.title }}&quot;"><img src="/images/writings/permalink.svg" class="permalink"></a></time>
			<a title="Go to {{ post.link }}" href="{{ post.link }}">{{ post.title }} ↦</a>
			{% else %}
			<time itemprop="dateCreated">{{ post.date | date: "%A, %B %-d, %Y" }}</time>
			<a title="Permalink for &quot;{{ post.title }}&quot;" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			{% endif %}
		</h1>
	{% else if page %}
		<h1>
			<time itemprop="dateCreated">{{ page.date | date: "%A, %B %-d, %Y" }}<span class="hide-for-print">,</span> <img title="This page is a permalink" src="/images/writings/permalink.svg" class="permalink"></time>
			{% if page.link %}
			<a href="{{ page.link }}">{{ page.title }} ↦</a>
			{% else %}
			<span>{{ page.title }}</span>
			{% endif %}
		</h1>
	{% endif %}
</header>