<footer class="large-top-pad large-bottom-pad">
	<div>
		<div class="bottom-tool-category">
			<h5 style="color: #979797;text-align:center;" class="tools-bottom-pad">Subscribe</h5>
			<a href="{{ "/Newsletter" | prepend: site.baseurl }}">
				<div class="round-button" style="text-align:center;">
					<img class="button-default" src="{{ "/Images/Blog/newsletter.jpg" | prepend: site.baseurl }}" alt="Newsletter button" />
					<img class="button-hover" src="{{ "/Images/Blog/newsletter-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
			<a href="{{ "/atom.xml" | prepend: site.baseurl }}">
				<div class="round-button" style="text-align:center;">
					<img class="button-default" src="{{ "/Images/Blog/rss.jpg" | prepend: site.baseurl }}" alt="RSS button" />
					<img class="button-hover" src="{{ "/Images/Blog/rss-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
		</div>
		<div class="bottom-tool-category">
			<h5 style="color: #979797;text-align:center;" class="tools-bottom-pad">Browse</h5>
			<a href="{{ "/Archive" | prepend: site.baseurl }}">
				<div class="round-button" style="text-align:center;">
					<img class="button-default" src="{{ "/Images/Blog/archive.jpg" | prepend: site.baseurl }}" alt="Archive button" />
					<img class="button-hover" src="{{ "/Images/Blog/archive-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
		</div>
	</div>
</footer>