<footer class="large-top-pad large-bottom-pad">
	<div>
		<div class="action-category">
			<h5 class="action-label">Subscribe</h5>
			<a href="{{ "/newsletter" | prepend: site.baseurl }}">
				<div class="round-button">
					<img class="button-default" src="{{ "/images/blog/newsletter.jpg" | prepend: site.baseurl }}" alt="Newsletter button" />
					<img class="button-hover" src="{{ "/images/blog/newsletter-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
			<a href="{{ "/atom.xml" | prepend: site.baseurl }}">
				<div class="round-button">
					<img class="button-default" src="{{ "/images/blog/rss.jpg" | prepend: site.baseurl }}" alt="RSS button" />
					<img class="button-hover" src="{{ "/images/blog/rss-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
		</div>
		<div class="action-category">
			<h5 class="action-label">Browse</h5>
			<a href="{{ "/archive" | prepend: site.baseurl }}">
				<div class="round-button">
					<img class="button-default" src="{{ "/images/blog/archive.jpg" | prepend: site.baseurl }}" alt="Archive button" />
					<img class="button-hover" src="{{ "/images/blog/archive-hover.jpg" | prepend: site.baseurl }}" alt="" />
				</div>
			</a>
		</div>
	</div>
</footer>