<menu>
	<header id="website-title">
		<h1>
			<a href="{{ "/" | prepend: site.baseurl }}"><img id="logo" src="{{ "/Images/Logo/Happy/logo-antialiased-min.svg" | prepend: site.baseurl }}" alt="Happy iMac logo"> Barrowclift</a>
		</h1>
	</header>
	<ul>
		<li class="hover"><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>  <!-- class="active-link" -->
		<li class="hover"><a href="{{ "/About/" | prepend: site.baseurl }}">About</a></li>
		<li class="hover"><a href="{{ "/Code/" | prepend: site.baseurl }}">Code</a></li>
		<li class="hover"><a href="{{ "/Art/" | prepend: site.baseurl }}">Art</a></li>
		<li class="hover"><a href="{{ "/Music/" | prepend: site.baseurl }}">Music</a></li>
		<li class="hover"><a href="{{ "/Contact/" | prepend: site.baseurl }}">Contact</a></li>
	</ul>
</menu>
<div id="menu-line-separator" class="main-color"></div>