<menu>
	<ul>
		<li class="hover"><a href="{{ "/" | prepend: site.baseurl }}" class="active-link">Home</a></li>
		<li class="hover"><a href="{{ "/Projects.html" | prepend: site.baseurl }}">Projects</a>
			<ul class="main-color">
				<li><a href="{{ "/Icons.html" | prepend: site.baseurl }}">Icons</a></li>
				<li><a href="{{ "/Largest_Video_Game_Ever.html" | prepend: site.baseurl }}">Largest Video Game Ever</a></li>
				<li><a href="{{ "/Anonymouth.html" | prepend: site.baseurl }}">Anonymouth</a></li>
			</ul>
		</li>
		<li class="hover"><a href="{{ "/About.html" | prepend: site.baseurl }}">About</a>
			<ul class="main-color">
				<li><a href="{{ "/In_the_News.html" | prepend: site.baseurl }}">In the News</a></li>
				<li><a href="{{ "/Experience.html" | prepend: site.baseurl }}">Experience</a></li>
			</ul>
		</li>
		<li class="hover"><a href="{{ "/Contact.html" | prepend: site.baseurl }}">Contact</a></li>
	</ul>
</menu>
<div id="menu-line-separator" class="main-color"></div>