<head>
	<title>{{site.title}}{% if page.title %}: {{ page.title }}{% endif %}</title>

	{% feed_meta %}

	<link rel="mask-icon" mask href="{{ "/images/logo/logo.min.svg" | prepend: site.baseurl }}" color="black" />
	<link rel="icon" type="image/png" href="{{ "/images/logo/favicon.png" | prepend: site.baseurl }}" />
	<link rel="apple-touch-icon" href="{{ "/images/logo/apple-touch-icon.png" | prepend: site.baseurl }}" />
	<link rel="manifest" href="{{ "/images/logo/manifest.json" | prepend: site.baseurl }}" />

	<meta name="application-name" content="Barrowclift" />
	<meta name="msapplication-TileColor" content="white" />
	<meta name="msapplication-TileImage" content="{{ "/images/logo/mstile/mstile-144x144.png" | prepend: site.baseurl }}" />
	<meta name="msapplication-config" content="{{ "/images/logo/browserconfig.xml" | prepend: site.baseurl }}" />
	{% if page.hex-color %}
	<meta name="theme-color" content="{{ page.hex-color }}" />
	{% else %}
	<meta name="theme-color" content="white" />
	{% endif %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="{{ site.baseurl }}/css/min/reset.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/min/bigfoot-number.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/min/style.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/min/syntax.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/min/hint.min.css" type="text/css" />
	{% if page.color %}
	<link href="{{ site.baseurl }}/css/min/theme-{{ page.color }}.min.css" rel="stylesheet" type="text/css" />
	{% else %}
	<link href="{{ site.baseurl }}/css/min/theme-blue.min.css" rel="stylesheet" type="text/css" />
	{% endif %}
	{% for style in page.page-specific %}
	<link href="{{ site.baseurl }}/css/page-specific/min/{{ style }}" rel="stylesheet" type="text/css" />
	{% endfor %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/min/print.min.css" type="text/css" media="print" />

	{% if page.anchors %}
	<script async src="{{ site.baseurl }}/scripts/full.min.js" type="text/javascript"></script>
	{% else %}
	<script async src="{{ site.baseurl }}/scripts/full-sans-anchors.min.js" type="text/javascript"></script>
	{% endif %}

	<!--Facebook OpenGraph -->
	<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' | prepend: site.baseurl | replace: '//', '/' }}">
	<link rel="next" href="{{ site.url }}/page/2/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="{% if page.viewing-single-page %}article{% else %}website{% endif %}" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' | prepend: site.baseurl | replace: '//', '/' }}" />
	{% if page.image %}
	<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
	{% else %}
	<meta property="og:image" content="{{ site.url }}/images/logo/share-banner.png"/>
	{% endif %}
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="fb:admins" content="1665270112" />
	<!--Twitter Cards -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@barrowclift" />
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}" />
	{% if page.image %}
	<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
	{% else %}
	<meta name="twitter:image" content="{{ site.url }}/images/logo/share-banner.png" />
	{% endif %}
	<meta name="twitter:url" content="{{ site.url }}{{ page.url | replace:'index.html','' | prepend: site.baseurl | replace: '//', '/' }}" />

	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->
	<!-- Enable media queries for old IE -->
	<!--[if lt IE 9]>
		<script src="{{ site.baseurl }}/scripts/fuckInternetExplorer.min.js" type="text/javascript"></script>
	<![endif]-->
	<!--[if IE]><link rel="shortcut icon" href="{{ "/images/logo/logo.ico" | prepend: site.baseurl }}" /><![endif]-->
</head>