<menu class="no-select">
	<div id="mainmenu">
		<a style="background-color:unset!important;" href="{{ "/hello/" | prepend: site.baseurl }}">
			<header>
				<div id="logo">
					{% if page.error %}
					{% include logo-error.html %}
					{% else %}
					{% include logo-happy.html %}
					{% endif %}
				</div>
			</header>
		</a>
		<ul>
			<a class="hover {%if page.writings-menu-active or page.layout == 'post' or page.layout == 'post-parallax-image'" %}active{% endif %}" href="{{ "/" | prepend: site.baseurl }}"><li>Writings</li></a>
			<a class="hover {%if page.projects-menu-active %}active{% endif %}" href="{{ "/projects/" | prepend: site.baseurl }}"><li>Projects</li></a>
			<a class="hide-when-small hover {%if page.about-menu-active %}active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}"><li>About</li></a>
			<a class="show-when-small hover" id="submenu-toggle" onclick="submenuClicked();">
				<input type="checkbox" name="submenu-checkbox" id="submenu-checkbox" value="submenu" onclick="submenuToggled(this);" />
				<li>More</li>
			</a>
		</ul>
		<div onclick="settingsClicked();" class="setting-toggles" id="settings-toggle">
			<input type="checkbox" name="settings-checkbox" id="settings-checkbox" value="settings" onclick="settingsToggled(this);" />
			<span><span class="small-caps">A</span>A</span>
			<!-- https://stackoverflow.com/questions/23072351/css-box-with-arrow-and-shadow -->
		</div>
		<div class="popup" id="settings-popup">
			<div id="dark-mode-settings" class="group checkbox ios-switch">
				<label>
					<input onclick="darkModeToggled(this);" value="dark-mode" type="checkbox"><span>Dark Mode:</span>
				</label>
			</div>
			<div id="accent-color-settings" class="group">
				<label>Accent Color:</label>
				<ul class="accent-colors">
					<li><div onclick="changeAccentColor('red')" class="accent-color red"></div></li>
					<li><div onclick="changeAccentColor('orange')" class="accent-color orange"></div></li>
					<li><div onclick="changeAccentColor('yellow')" class="accent-color yellow"></div></li>
					<li><div onclick="changeAccentColor('green')" class="accent-color green"></div></li>
					<li><div onclick="changeAccentColor('blue')" class="accent-color blue"></div></li>
					<li><div onclick="changeAccentColor('purple')" class="accent-color purple"></div></li>
					<li><div onclick="changeAccentColor('pink')" class="accent-color pink"></div></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="submenu">
		<ul>
			<a class="hover {%if page.about-menu-active %}active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}"><li>About</li></a>
			<a style="cursor:pointer;" class="hover" onclick="settingsClicked();">
				<li style="display:inline-block;" class="setting-toggles" id="settings-toggle">
					Settings
				</li>
			</a>
		</ul>
	</div>
</menu>
<div id="menu-height-offset"></div>