<menu class="no-select">
	<div id="mainmenu">
		<a href="{{ site.baseurl }}/">
			<header onclick="document.getElementById('hidden-logo-link').click()">
				<div id="logo">
					{% if page.error %}
					{% include logo-error.html %}
					{% else %}
					{% include logo-happy.html %}
					{% endif %}
				</div>
			</header>
		</a>
		<ul>
			<li><a class="{%if page.writings-menu-active or page.layout == 'post' or page.layout == 'post-parallax-image' %}active{% endif %}" href="{{ site.baseurl }}/articles/">Articles</a></li>
			<li><a class="{%if page.projects-menu-active %}active{% endif %}" href="{{ site.baseurl }}/projects/">Projects</a></li>
			<li onclick="settingsClicked();" class="setting-toggles show-when-small" id="settings-toggle">
				<noscript>
					{% if page.layout == "post" %}
					{% assign articlePath=page.url | replace: "/post/", "/article/" %}
					{% capture nitroLink %}https://nitro.barrowclift.me{{ articlePath }}{% endcapture %}
					<a class="nitro-link" href="{{ nitroLink }}">&#x26A1;</a>
					{% else %}
					<a class="nitro-link" href="https://nitro.barrowclift.me">&#x26A1;</a>
					{% endif %}
				</noscript>
				<div title="Settings" alt="Settings" class="jsonly">
					<input title="Settings" alt="Settings" type="checkbox" name="settings-checkbox" id="settings-checkbox" value="settings" onclick="settingsToggled(this);" />
					<span><span class="small-caps">A</span>A</span>
				</div>
				<!-- https://stackoverflow.com/questions/23072351/css-box-with-arrow-and-shadow -->
			</li>
		</ul>
		{% if page.hide-settings != true %}
		<div onclick="settingsClicked();" class="setting-toggles" id="settings-toggle">
			<noscript>
				{% if page.layout == "post" %}
				{% assign articlePath=page.url | replace: "/post/", "/article/" %}
				{% capture nitroLink %}https://nitro.barrowclift.me{{ articlePath }}{% endcapture %}
				<a class="nitro-link" href="{{ nitroLink }}">&#x26A1;</a>
				{% else %}
				<a class="nitro-link" href="https://nitro.barrowclift.me">&#x26A1;</a>
				{% endif %}
			</noscript>
			<div title="Settings" alt="Settings" class="jsonly">
				<input title="Settings" alt="Settings" type="checkbox" name="settings-checkbox" id="settings-checkbox" value="settings" onclick="settingsToggled(this);" />
				<span><span class="small-caps">A</span>A</span>
			</div>
			<!-- https://stackoverflow.com/questions/23072351/css-box-with-arrow-and-shadow -->
		</div>
		<div class="popup" id="settings-popup">
			<div id="popup-background">
				<div id="dark-mode-settings" class="group">
					<label>Appearance:</label>
					<ul class="colors">
						<li><div title="Automatic (match system setting)" alt="Automatic (match system setting)" onclick="changeAppearance('auto')" class="color-well appearance auto"></div></li>
						<li><div title="Light mode" alt="Light mode" onclick="changeAppearance('light')" class="color-well appearance light"></div></li>
						<li><div title="Dark mode" alt="Dark mode" onclick="changeAppearance('dark')" class="color-well appearance dark"></div></li>
					</ul>
				</div>
				{% if page.ignore-accent-color != true %}
				<div id="color-well-settings" class="group">
					<label>Accent Color:</label>
					<ul class="colors">
						<li><div title="Blue accent color" alt="Blue accent color" onclick="changeAccentColor('blue')" id="input-blue" class="color-well blue"></div></li>
						<li><div title="Purple accent color" alt="Purple accent color" onclick="changeAccentColor('purple')" id="input-purple" class="color-well purple"></div></li>
						<li><div title="Pink accent color" alt="Pink accent color" onclick="changeAccentColor('pink')" id="input-pink" class="color-well pink"></div></li>
						<li><div title="Red accent color" alt="Red accent color" onclick="changeAccentColor('red')" id="input-red" class="color-well red"></div></li>
						<li><div title="Orange accent color" alt="Orange accent color" onclick="changeAccentColor('orange')" id="input-orange" class="color-well orange"></div></li>
						<li><div title="Yellow accent color" alt="Yellow accent color" onclick="changeAccentColor('yellow')" id="input-yellow" class="color-well yellow"></div></li>
						<li><div title="Green accent color" alt="Green accent color" onclick="changeAccentColor('green')" id="input-green" class="color-well green"></div></li>
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
</menu>
<div id="menu-height-offset"></div>