<style>
menu {
	background-color: {{ page.menu-color }};
	border-bottom: 1px solid rgba(138, 138, 138, 0.2);
}
.safari menu {
	background-color: {{ page.menu-color-safari }};
}
menu ul a,
.hover:hover:not(.active) {
	color: white;
}
.signature-color {
	fill: white;
}
#dark-mode-toggle .fill-color {
	fill: white;
}
#dark-mode-toggle .stroke-color {
	stroke: white;
}
#dark-mode-toggle:hover .fill-color {
	fill: white !important;
}
#dark-mode-toggle:hover .stroke-color {
	stroke: white !important;
}
.hover:hover:not(.active),
#dark-mode-toggle:hover,
menu a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.active,
menu a.active:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

#dark .hover:hover:not(.active),
#dark #dark-mode-toggle:hover,
#dark menu a.active:hover {
	background-color: {{ page.primary-color-hover }};
	color: {{ page.primary-color }};
}
#dark #dark-mode-toggle:hover .fill-color {
	fill: {{ page.primary-color }} !important;
}
#dark #dark-mode-toggle:hover .stroke-color {
	stroke: {{ page.primary-color }} !important;
}
#dark .active {
	background-color: unset;
	color: {{ page.primary-color }};
}
#logo:hover .signature-color {
	fill: white !important;
}
#dark #logo:hover .signature-color {
	fill: {{ page.primary-color }} !important;
}

main a,
main a:link,
main a:visited,
.active,
.anchor {
	color: {{ page.primary-color }};
}
main a:hover,
.anchor:hover {
	background-color: {{ page.primary-color-hover }};
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: {{ page.primary-color }};
	color: white;
}
::-moz-selection { /* Firefox */
	background: {{ page.primary-color }};
	color: white;
}
</style>