{% if page.dark %}
<script>
document.getElementsByTagName("html")[0].setAttribute("id", "dark");
</script>
{% endif %}

<style>
html, main {
	background-color: {{ page.background-color }} !important;
}
menu {
	background-color: {{ page.menu-color }};
}
main,
menu ul a,
menu,
.hover:hover:not(.active) {
	color: {{ page.foreground-color }};
}
.active,
.hover:hover:not(.active) {
	color: {{ page.primary-color }} !important;
}
.signature-color {
	fill: {{ page.foreground-color }};
}
svg:hover .fill-color {
	fill: {{ page.primary-color }} !important;
}
#logo:hover .signature-color {
	fill: {{ page.primary-color }} !important;
}

#dark menu a:hover,
#dark .hover:hover:not(.active) {
	background-color: {{ page.primary-color-hover }};
}

input:focus, textarea:focus,
button, .button {
	background-color: {{ page.primary-color }};
}
button:hover,
.button:hover {
	background-color: {{ page.primary-color-dark }};
}

main a,
main a:link,
main a:visited,
.active,
.anchor {
	color: {{ page.primary-color }};
}
main a:hover,
.anchor:hover {
	background-color: {{ page.primary-color-hover }};
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: {{ page.primary-color }};
	color: white;
}
::-moz-selection { /* Firefox */
	background: {{ page.primary-color }};
	color: white;
}

@media (min-width: 700px) {
	#dark menu a:hover,
	#dark .hover:hover:not(.active) {
		background-color: unset;
	}
}
</style>