<style>
menu {
	background-color: {{ page.menu-color }};
	border-bottom: 1px solid rgba(138, 138, 138, 0.2);
}
.safari menu,
.chrome menu {
	background-color: {{ page.menu-color-safari }};
}
.safari menu #mainmenu ul,
.chrome menu #mainmenu ul {
	-webkit-backdrop-filter: unset;
	backdrop-filter: unset;
}
.signature-color {
	fill: rgba(255, 255, 255, 0.5) !important;
}
menu ul a:not(.active),
#settings-toggle {
	color: rgba(255, 255, 255, 0.5) !important;
}
#logo:hover .signature-color {
	fill: rgba(255, 255, 255, 0.9) !important;
}
.hover:hover:not(.active),
menu ul a:hover:not(.active),
#settings-toggle:hover,
#mainmenu .active,
#settings-toggle:hover {
	color: rgba(255, 255, 255, 0.9) !important;
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: {{ page.primary-color }};
	color: white;
}
::-moz-selection { /* Firefox */
	background: {{ page.primary-color }};
	color: white;
}

#mainmenu a:hover,
#settings-toggle:hover {
	color: white;
}

/**
 * Hex: #FF8100
 * RGB: rgb(255, 129, 0);
 * HSL: {{ page.primary-color }};
 */
a,
.header a:hover,
a:hover .header {
	color: {{ page.primary-color }};
}
.backdrop {
	background-color: {{ page.primary-color }};
}

a:hover,
#submenu {
	background-color: {{ page.primary-color-hover }};
}

/* Highlights (must be seperate, combining them breaks the style) */
::selection { /* Safari */
	background: {{ page.primary-color }};
	color: white;
}
::-moz-selection { /* Firefox */
	background: {{ page.primary-color }};
	color: white;
}

button,
.button {
	background-color: {{ page.primary-color }};
}
button.bigfoot-footnote__button {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: none;
}
	button.bigfoot-footnote__button:after {
		color: {{ page.primary-color }} !important;
	}
	button.bigfoot-footnote__button:hover {
		background-color: {{ page.primary-color }} !important;
	}
	button.bigfoot-footnote__button:active,
	button.bigfoot-footnote__button.is-active {
		background-color: {{ page.primary-color }} !important;
	}

input:focus,
textarea:focus {
	border-color: {{ page.primary-color }} !important;
}

#dark .header a:hover,
#dark a:hover .header {
	color: {{ page.primary-color }};
}

</style>