<!DOCTYPE html>
<html class="{% if page.design.expanded-page == true %}expanded-page{% endif %}
             {% if page.design.ignore-accent-color == true %}ignore-accent-color{% endif %}
             {% if page.design.accent %}custom-accent-color{% endif %}
             {% if page.design.force-dark-mode == true %}force-dark-mode{% endif %}
             {% if page.design.oled == true %}oled{% endif %}"
      lang="en-US"
      prefix="og: http://ogp.me/ns#">
    
<!--
The standard website layout. Includes all the site's standard chrome.

Currently used for pages such as:
    /
    /404
    /articles/
    /about/
    /about/shoutouts/
    /archive/
    /articles/
    /contact/
    /projects/
-->

    {% include head.html %}

    <body>
        {% include menubar.html %}
        <main>
            {% if page.url contains '/articles/' and page.url != '/articles/' or page.dir contains '/obsolete/' %}
                {% include article.html %}
            {% elsif page.type == "project-update" or page.type == "article-update" %}
                {% include update.html %}
            {% else %}
                {{ content }}
                {% include footer.html %}
            {% endif %}
        </main>
    </body>
</html>