<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

	{% include head.html %}

	<body>
		<div id="wrap">
			<div id="content" class="center {% if page.banner-image %}banner-header-padding{% endif %} {% if page.viewing-single-page != true %}reserved-mode{% endif %}">
				
				{% include header-happy.html %}
				
				<main class="large-bottom-pad">
				<h5 style="color:red;">Sorry for the dust, folks. There's a problem with the site's build system at the moment that's out of my hands. Thanks for your patience!</h5>
					{{ content }}

				</main>
			</div>
		</div>

		{% include footer.html %}
	</body>
</html>