<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

	{% include head.html %}

	<body class="{% if page.ignore-accent-color == true %}ignore-accent-color{% endif %} {% if page.enforce-dark-mode == true %}enforce-dark-mode{% endif %}">
		{% include lazy-load-stylesheets.html %}
		
		<style>
		@media (min-width: 700px) {
			.button-group li {
				width: 40%;
			}
		}
		@media (min-width: 790px) {
			.button-group li {
				width: 40%;
			}
		}
		</style>
		<div id="wrap">
			<div id="content" class="center {% if page.viewing-single-page != true %}feed-view{% endif %}">
				{% include menu.html %}
				<main>
					{{ content }}
				</main>
			</div>
		</div>
	</body>
</html>