<!DOCTYPE html>
<html class="{% if page.design.expanded-page == true %}expanded-page{% endif %}
             {% if page.design.ignore-accent-color == true %}ignore-accent-color{% endif %}
             {% if page.design.accent %}custom-accent-color{% endif %}
             {% if page.design.force-dark-mode == true %}force-dark-mode{% endif %}
             {% if page.design.oled == true %}oled{% endif %}"
      id="{% if page.design.force-dark-mode == true %}dark{% endif %}"
      lang="en-US"
      prefix="og: http://ogp.me/ns#">
    
<!--
No chrome whatsoever, just a plain page.

Currently used for:
    /notepad/marvis-pro-rules
    /social
-->

    {% include head.html %}

    <body>
        <style>
            main {
                margin-top: var(--gap2) !important;
            }
        </style>
        <main>
            {{ content }}
            {% include footer.html %}
        </main>
    </body>
</html>