<!DOCTYPE html>
<html class="{% if page.display.flex == true %}flex{% endif %}
             {% if page.design.ignore-accent-color == true %}ignore-accent-color{% endif %}
             {% if page.design.accent %}custom-accent-color{% endif %}
             {% if page.design.force-dark-mode == true %}force-dark-mode{% endif %}
             {% if page.design.oled == true %}oled{% endif %}"
      lang="en-US"
      prefix="og: http://ogp.me/ns#">
    
<!--
No chrome whatsoever, just a plain page.

Currently used for:
    /notepad/marvis-pro-rules
    /social
-->

    {% include head.html %}

    <body>
        <style>
            main {
                margin-top: 0;
            }
        </style>
        <div id="wrap">
            <div id="content" class="center {% if page.display.edge-to-edge %}full-width-page{% elsif page.display.extra-wide %}extra-wide-page{% endif %}">
                <main>
                    {{ content }}
                    {% include footer.html %}
                </main>
            </div>
        </div>
    </body>
</html>