<!DOCTYPE html>
<html class="{% if page.display.flex == true %}flex{% endif %} {% if page.design.ignore-accent-color == true %}ignore-accent-color{% endif %} {% if page.design.force-dark-mode == true %}force-dark-mode{% endif %}" lang="en-US" prefix="og: http://ogp.me/ns#">
	
<!--
No chrome whatsoever, just a plain page.

Settings:
  flex (bool): Enable or disable flexbox. Defaults to "false"

Currently used for:
  /notepad/marvis-pro-rules
  /social
-->

	{% include head.html %}

	<body>
		{% if page.backdrop-image %}
		<style>
			.backdrop {
				background-image: url('{{ page.backdrop-image }}');
				background-position: center;
				background-size: cover;
				opacity: 0.05;
			}
			@supports (filter: blur(25px)) {
				.backdrop {
					-webkit-filter: blur(25px);
					-moz-filter: blur(25px);
					-o-filter: blur(25px);
					-ms-filter: blur(25px);
					filter: blur(25px);
				}
			}
			#dark .backdrop {
				opacity: 0.1;
			}
		</style>
		{% endif %}
		<div class="backdrop {% if page.hard-backdrop %}hard{% endif %}"></div>
		<style>
			main {
				margin-top: 0;
			}
		</style>

		<div id="wrap">
			<div id="content" class="center {% if paginator.page != nil %}feed-view{% endif %} {% if page.display.edge-to-edge %}full-width-page{% elsif page.wide %}wide-page{% elsif page.display.extra-wide %}extra-wide-page{% endif %}">
				<main>
					{{ content }}
					{% include footer.html %}
				</main>
			</div>
		</div>
	</body>
</html>