---
layout: default
---

<article>

	<figure class="banner-top-margin">
		<p style="margin-top:0px;">
			{% if page.banner-link %}
			<a href="{{page.banner-link}}" {% if page.banner-hover %}title="{{page.banner-hover}}"{% endif %}>
				<img src="/images/assets/{{ page.banner-image }}" class="edge-to-edge" {% if page.banner-alt %}alt="{{ page.banner-alt }}"{% else %}alt="Post banner"{% endif %} />
			</a>
			{% else %}
			<img src="/images/assets/{{ page.banner-image }}" class="edge-to-edge" {% if page.banner-alt %}alt="{{ page.banner-alt }}"{% else %}alt="Post banner"{% endif %} />
			{% endif %}
		</p>
	</figure>

	<p>
		{% include article-header.html %}
	</p>

	{{ content }}

	<footer>
		{% include actions-sheet.html %}	
	</footer>
</article>