---
layout: default
---
<article>
	<header role="header">
		{% if page.link %}
			<h2 class="center">
				<a href="{{ page.link }}">{{ page.title }} ↦</a>
			</h2>
		{% else %}
			<h2 class="center">
				{{ page.title }}
			</h2>
		{% endif %}
		<time itemprop="dateCreated" class="center">{{ page.date | date: "%A, %B %-d, %Y" }}</time>
	</header>

	{{ content }}

	<footer class="large-top-pad large-bottom-pad">
		<div id="bottom-navigation">
			<a href="{{ "/atom.xml" | prepend: site.baseurl }}">
				<div class="round-button">
					<img class="button-default" src="{{ "/Images/Blog/rss.jpg" | prepend: site.baseurl }}" />
					<img class="button-hover" src="{{ "/Images/Blog/rss-hover.jpg" | prepend: site.baseurl }}"/>
				</div>
			</a>
			<a href="{{ "/Archive" | prepend: site.baseurl }}">
				<div class="round-button">
					<img class="button-default" src="{{ "/Images/Blog/archive.jpg" | prepend: site.baseurl }}" />
					<img class="button-hover" src="{{ "/Images/Blog/archive-hover.jpg" | prepend: site.baseurl }}" />
				</div>
			</a>
		</div>
	</footer>
</article>