#contact-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    max-width: 465px;
    background-color: #FCFCFC;
    /*margin: 50px auto;*/
    position: relative;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    text-align: left;
    margin-bottom: 2px;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width: 97%;
    border: 1px solid #C6C6C6;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border-color: #EEBC4E;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 188, 78, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 188, 78, 0.6);
}

#contact-form textarea {
    height:150px;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#contact-form label {
    display: block;
}

#contact-form .required {
    font-weight: bold;
    color: #F00;
}

#contact-form #submit-button {
    width: 100px;
    color: #FCFCFC;
    border: none;
    display: block;
    float: right;
    margin-bottom: 0px;
    background-color: #545760;
    -moz-border-radius: 3px;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

#contact-form #submit-button:hover {
    background-color: #FEC752;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

#contact-form #submit-button:active {
    position: relative;
    top: 1px;
}

#submit-button {
    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#errors.visible, #success.visible {
    display: block;
}

#req-field-desc {
    font-style: italic;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}