#contact-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    margin-left:-10px;
    max-width: 465px;
    background-color: #FAFAFA;
    /*margin: 50px auto;*/
    position: relative;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    border: 1px solid #C6C6C6;
    margin-bottom: 20px;
    padding: 4px;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #FFC852;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 188, 78, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238, 188, 78, 0.6);
}

#contact-form textarea {
    height:150px;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#contact-form #submit-button {
    width: 100px;
    color: #FAFAFA;
    border: none;
    display: block;
    float: right;
    margin-bottom: 0px;
    background-color: #545760;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;

    margin-right:-10px;

    /* css 3 */
    border-radius: 3px;
    /* mozilla */
    -moz-border-radius: 3px;
    /* webkit */
    -webkit-border-radius: 3px;
}

#contact-form #submit-button:hover {
    background-color: #FEC752;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}