/*
Main Menu
*/
menu ul li:hover > a {
    color: #FAFAFA; /*Foreground color of menu on hover*/
}
.active-link {
    color: #973D8E;
}
.main-color {
    background-color: #973D8E;
}
.hover:hover {
    background-color: #973D8E;
}

/*
Highlight Color
*/
/* Safari */
::selection {
    background: #973D8E;
    color: #FAFAFA;
}
/* Firefox */
::-moz-selection {
    background: #973D8E;
    color: #FAFAFA;
}

/*h3 {
    color: inherit;
}*/

/*
Text Links
*/
.text-link {
    color: black;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
/* unvisited link */
.text-link:link {
    color: #973D8E;
}
/* visited link */
.text-link:visited {
    color: #973D8E;
}
.text-link:hover {
    color: #973D8E;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

a > h2, h1 a {
    color: #973D8E;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
a > h2:link, h1 a:link {
    color: black;
}
a > h2:visited, h1 a:visited {
    color: black;
}
a > h2:hover, h1 a:hover {
    color: #973D8E;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}