/*
Main Menu
*/
menu ul li:hover > a {
    color: #973D8E; /*Foreground color of menu on hover*/
}
menu ul, .main-color {
    background-color: #973D8E;
}
.hover:hover {
    background-color: white;
}

/*
Highlight Color
*/
/* Safari */
::selection {
    background: #973D8E;
    color: white;
}
/* Firefox */
::-moz-selection {
    background: #973D8E;
    color: white;
}

/*
Text Links
*/
main :not(h2) > a {
    color: #973D8E;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
/* unvisited link */
main :not(h2) > a:link {
    color: #973D8E;
}
/* visited link */
main :not(h2) > a:visited {
    color: #973D8E;
}
main :not(h2) > a:hover {
    color: #ED76E1;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

a > h2, h1 a {
    color: #973D8E;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
a > h2:link, h1 a:link {
    color: black;
}
a > h2:visited, h1 a:visited {
    color: black;
}
a > h2:hover, h1 a:hover {
    color: #973D8E;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.anchor {
    color: #973D8E !important;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.anchor:hover {
    color: #ED76E1 !important;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}