---
title: "Articles"
display:
    flex: true
show-anchors: false
---

<style>
    .row {
        align-items: stretch;
        width: 100%;
        display: grid;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
    .column {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .column a img {
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .column .card:hover img {
        transform: scale(1.05);
    }
    .card {
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-width: unset !important;

        /* https://gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b */
        will-change: transform;
        overflow: hidden;
    }
    @media (min-width: 700px) {
        .row {
            display: flex;
        }
        .column.tight {
            margin-left: 1.25%;
            margin-right: 1.25%;
        }
        .card, .card.large-when-small {
            max-width: unset;
            width: auto;
            min-width: unset;
        }
    }
</style>
<div class="row">
    <div class="popular-articles column tight w6">
        {% assign numArticlesPerColumn = site.posts.size | divided_by: 2 %}
        {% assign found=0 %}
        {% assign used=0 %}
        <ul style="margin-left:0;margin-bottom:0;">
        {% for post in site.posts %}
            {% if used > numArticlesPerColumn %}
                {% break %}
            {% endif %}
            {% assign mod=found | modulo: 2 %}
            {% assign found=found | plus:1 %}
            {% if mod != 0 %}
                {% continue %}
            {% endif %}
            {% include article-card.html %}
            {% assign used=used | plus:1 %}
        {% endfor %}
        </ul>
    </div>
    <div class="popular-articles column tight w6">
        {% assign numArticlesPerColumn = site.posts.size | divided_by: 2 %}
        {% assign found=0 %}
        {% assign used=0 %}
        <ul style="margin-left:0;margin-bottom:0;">
        {% for post in site.posts %}
            {% if used > numArticlesPerColumn %}
                {% break %}
            {% endif %}
            {% assign mod=found | modulo: 2 %}
            {% assign found=found | plus:1 %}
            {% if mod == 0 %}
                {% continue %}
            {% endif %}
            {% include article-card.html %}
            {% assign used=used | plus:1 %}
        {% endfor %}
        </ul>
    </div>
</div>