---
layout: default
title: "Articles"
---

<style>
sup[id^=fnref] {
	display:none;
}
</style>
{% assign count=0 %}
{% for post in paginator.posts %}
	{% if post.type != "article" %}
	{% continue %}
	{% endif %}
	{% if count > 0 %}
	<hr>
	{% endif %}

	<article>
		{% include article-header.html %}
		{% if post.hero-banner or post.light-hero-banner or post.dark-hero-banner %}
			{% if post.hero-banner %}
			<div class="edge-to-edge small shadow">
			<p>
			<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
			<picture>
			  <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.hero-banner }}.webp">
			  <img type="image/jpeg" title="Article banner image" alt="Image of the article's banner" src="{{ site.dropbox }}/{{ post.hero-banner }}.jpg">
			</picture>
			</a>
			</p>
			</div>
			{% else %}
			<div class="show-when-light edge-to-edge small shadow">
			<p>
			<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
			<picture>
			  <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.light-hero-banner }}.webp">
			  <img type="image/jpeg" title="Article banner image" alt="Image of the article's banner" src="{{ site.dropbox }}/{{ post.light-hero-banner }}.jpg">
			</picture>
		    </a>
			</p>
			</div>
			<div class="show-when-dark edge-to-edge small shadow">
			<p>
			<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
			<picture>
			  <source type="image/webp" srcset="{{ site.dropbox }}/{{ post.dark-hero-banner }}.webp">
			  <img type="image/jpeg" title="Article banner image" alt="Image of the article's banner" src="{{ site.dropbox }}/{{ post.dark-hero-banner }}.jpg">
			</picture>
		    </a>
	     	</p>
			</div>
			{% endif %}
		{% endif %}

		{{ post.content | split:'<!--break-->' | first }}
		{% if post.content contains '<!--break-->' %}
			<h5 style="text-align:center;"><a class="button" href="{{ post.url }}#resume-from-break">Continue Reading…</a></h5>
		{% endif %}
	</article>
	{% assign count=count | plus:1 %}
{% endfor %}