---
title: "Articles"
display:
    flex: true
show-anchors: false
---

{% for post in site.posts %}
    {% assign lengthMod = forloop.length | modulo: 2 %}
    {% assign indexMod = forloop.index | modulo: 2 %}

    {% if indexMod == 0 %}
            <div class="articles column">
                {% include article-card.html %}
            </div>
        </div>
    {% else %}
        <div class="row" style="{% if forloop.index == forloop.length and lengthMod == 1 %}gap: 0.65em;{% endif %}">
            {% if forloop.index == forloop.length and lengthMod == 1 %}
                <div class="column hide-when-small"></div>
            {% endif %}
            <div class="{% if forloop.index == forloop.length and lengthMod == 1 %}middle{% endif %} articles column">
                {% include article-card.html %}
            </div>
            {% if forloop.index == forloop.length %}
                {% if lengthMod == 1 %}
                    <div class="column hide-when-small"></div>
                {% endif %}
                </div>
            {% endif %}
    {% endif %}
{% endfor %}